html {
    font-size: 17px;
}

body {
    --primary-0: #ffffff;
    --primary-1: #f5f8ff;
    --primary-2: #eff4ff;
    --primary-3: #d1e0ff;
    --primary-4: #b2ccff;
    --primary-5: #84adff;
    --primary-6: #528bff;
    --primary-7: #2970ff;
    --primary-8: #155eef;
    --primary-9: #004eeb;
    --primary-10: #0040c1;
    --primary-11: #00359e;

    font-family: apple-sf-pro-text, sans-serif;
    font-size: 1rem;
}

h1, h2, h3 {
    font-family: proxima-soft, sans-serif;
}

.flux-notice .flux-icon {
    margin-top: 3px;
}
