body {
    font-family: apple-sf-pro-text, sans-serif;
}

h1, h2, h3 {
    font-family: proxima-soft, sans-serif;
}

h3 {
    margin-bottom: -6px;
    color: rgb(var(--primary-11));
}

[dark] {
    h3 {
        color: rgb(var(--primary-5));
    }
}

.switching-theme {
    &,
    *,
    *::before,
    *::after {
        transition: 300ms var(--swift-out) !important;
        transition-delay: 0ms !important;
        transition-property: all !important;
    }
}

%-space {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(var(--gray-2));
    border: 1px dashed rgb(var(--gray-4));
    border-radius: var(--radius);

    &::before {
        content: '';
        color: rgb(var(--gray-6));
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}

.column-example {
    @extend %-space;

    height: 78px;

    &::before {
        content: 'Column';
    }
}

.spacing-example {
    @extend %-space;
}
