@use 'sass:math';

$-bubble-d: 3rem;
$-bubble-r: .5 * $-bubble-d;
$-sparkle-d: .375rem;
$-sparkle-r: .5 * $-sparkle-d;

@mixin -bubble($ext) {
    border-width: $ext;
    opacity: .15;
    transform: scale(1);
}

@mixin -sparkles($amount) {
    $-shadow-list: ();
    $-amount-pairs: 5;
    $-group-base-angle: math.div(360deg, $-amount-pairs);
    $-group-distr-r: (1 + $amount * .5) * $-bubble-r;
    $-amount-particles: 3;
    $-sparkle-base-angle: math.div(360deg, $-amount-particles);
    $-sparkle-off-angle: 72deg;
    $-spread-r: -$amount * $-sparkle-r;

    @for $i from 0 to $-amount-pairs {
        $-group-curr-angle: $i * $-group-base-angle - 90deg;
        $-xg: $-group-distr-r * cos($-group-curr-angle);
        $-yg: $-group-distr-r * sin($-group-curr-angle);

        @for $j from 0 to $-amount-particles {
            $-sparkle-curr-angle: $-group-curr-angle + $-sparkle-off-angle + $j * $-sparkle-base-angle;
            $-xs: $-xg + $-sparkle-d * cos($-sparkle-curr-angle);
            $-ys: $-yg + $-sparkle-d * sin($-sparkle-curr-angle);

            $-shadow-list: $-shadow-list, $-xs $-ys 0 $-spread-r hsl(($i + $j) * $-group-base-angle, 100%, 75%);
        }
    }

    box-shadow: $-shadow-list;
}

.sparklesContainer {
    z-index: 0;
}

.sparklesParticles {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-self: center;
    cursor: pointer;
    font-size: 24px;
    user-select: none;

    &:before,
    &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        content: '';
        border-radius: 50%;
        z-index: -1;
    }

    &:before {
        height: $-bubble-d;
        margin: -$-bubble-r;
        width: $-bubble-d;
        box-sizing: border-box;
        border: $-bubble-r solid currentColor;
        transform: scale(0);
    }

    &:after {
        margin: -$-sparkle-r;
        width: $-sparkle-d;
        height: $-sparkle-d;
    }
}

.sparklesContainerActive .sparklesParticles {
    animation: heart 1s var(--deceleration-curve);
    filter: none;
    will-change: font-size;

    &:before, &:after {
        animation: inherit;
        animation-timing-function: var(--deceleration-curve);
    }

    &:before {
        animation-name: bubble;
        will-change: transform, border-width, border-color;
    }

    &:after {
        animation-name: sparkles;
        will-change: opacity, box-shadow;
    }
}

@keyframes bubble {
    15% {
        @include -bubble($-bubble-r);
    }

    40%,
    100% {
        @include -bubble(0);
    }
}

@keyframes heart {
    0%,
    17.5% {
        font-size: 0;
    }
}

@keyframes sparkles {
    0%,
    20% {
        opacity: 0;
    }

    21% {
        opacity: 1;

        @include -sparkles(0);
    }

    100% {
        opacity: 0;

        @include -sparkles(1);
    }
}
