@use 'sass:color';

@function to-rgb($hex) {
    @return color.channel($hex, 'red', $space: rgb) color.channel($hex, 'green', $space: rgb) color.channel($hex, 'blue', $space: rgb);
}

[light],
:root {
    --primary-0: #{to-rgb(#ffffff)};
    --primary-1: #{to-rgb(#f5f8ff)};
    --primary-2: #{to-rgb(#eff4ff)};
    --primary-3: #{to-rgb(#d1e0ff)};
    --primary-4: #{to-rgb(#b2ccff)};
    --primary-5: #{to-rgb(#84adff)};
    --primary-6: #{to-rgb(#528bff)};
    --primary-7: #{to-rgb(#2970ff)};
    --primary-8: #{to-rgb(#155eef)};
    --primary-9: #{to-rgb(#004eeb)};
    --primary-10: #{to-rgb(#0040c1)};
    --primary-11: #{to-rgb(#00359e)};

    --danger-0: #{to-rgb(#ffffff)};
    --danger-1: #{to-rgb(#fff1f2)};
    --danger-2: #{to-rgb(#ffe4e6)};
    --danger-3: #{to-rgb(#ffccd3)};
    --danger-4: #{to-rgb(#ffa1ad)};
    --danger-5: #{to-rgb(#ff637e)};
    --danger-6: #{to-rgb(#ff2056)};
    --danger-7: #{to-rgb(#ec003f)};
    --danger-8: #{to-rgb(#c70036)};
    --danger-9: #{to-rgb(#a50036)};
    --danger-10: #{to-rgb(#8b0836)};
    --danger-11: #{to-rgb(#4d0218)};

    --info-0: #{to-rgb(#ffffff)};
    --info-1: #{to-rgb(#eff6ff)};
    --info-2: #{to-rgb(#dbeafe)};
    --info-3: #{to-rgb(#bedbff)};
    --info-4: #{to-rgb(#8ec5ff)};
    --info-5: #{to-rgb(#51a2ff)};
    --info-6: #{to-rgb(#2b7fff)};
    --info-7: #{to-rgb(#155dfc)};
    --info-8: #{to-rgb(#1447e6)};
    --info-9: #{to-rgb(#193cb8)};
    --info-10: #{to-rgb(#1c398e)};
    --info-11: #{to-rgb(#162456)};

    --success-0: #{to-rgb(#ffffff)};
    --success-1: #{to-rgb(#f0fdf4)};
    --success-2: #{to-rgb(#dcfce7)};
    --success-3: #{to-rgb(#b9f8cf)};
    --success-4: #{to-rgb(#7bf1a8)};
    --success-5: #{to-rgb(#05df72)};
    --success-6: #{to-rgb(#00c950)};
    --success-7: #{to-rgb(#00a63e)};
    --success-8: #{to-rgb(#008236)};
    --success-9: #{to-rgb(#016630)};
    --success-10: #{to-rgb(#0d542b)};
    --success-11: #{to-rgb(#032e15)};

    --warning-0: #{to-rgb(#ffffff)};
    --warning-1: #{to-rgb(#fffbeb)};
    --warning-2: #{to-rgb(#fef3c6)};
    --warning-3: #{to-rgb(#fee685)};
    --warning-4: #{to-rgb(#ffd230)};
    --warning-5: #{to-rgb(#ffb900)};
    --warning-6: #{to-rgb(#fe9a00)};
    --warning-7: #{to-rgb(#e17100)};
    --warning-8: #{to-rgb(#bb4d00)};
    --warning-9: #{to-rgb(#973c00)};
    --warning-10: #{to-rgb(#7b3306)};
    --warning-11: #{to-rgb(#461901)};

    --gray-0: #{to-rgb(#ffffff)};
    --gray-1: #{to-rgb(#f8fafc)};
    --gray-2: #{to-rgb(#f1f5f9)};
    --gray-3: #{to-rgb(#e2e8f0)};
    --gray-4: #{to-rgb(#cad5e2)};
    --gray-5: #{to-rgb(#90a1b9)};
    --gray-6: #{to-rgb(#62748e)};
    --gray-7: #{to-rgb(#45556c)};
    --gray-8: #{to-rgb(#314158)};
    --gray-9: #{to-rgb(#1d293d)};
    --gray-10: #{to-rgb(#0f172b)};
    --gray-11: #{to-rgb(#020618)};
}

[dark] {
    //--primary-0: #{to-rgb(#182035)};
    //--primary-1: #{to-rgb(#1f2a45)};
    //--primary-2: #{to-rgb(#243254)};
    //--primary-3: #{to-rgb(#2b3c63)};
    //--primary-4: #{to-rgb(#314471)};
    //--primary-5: #{to-rgb(#385080)};
    //--primary-6: #{to-rgb(#3e5a8e)};
    //--primary-7: #{to-rgb(#44669e)};
    //--primary-8: #{to-rgb(#5077b0)};
    //--primary-9: #{to-rgb(#5a84bf)};
    //--primary-10: #{to-rgb(#6594d1)};
    //--primary-11: #{to-rgb(#709fe3)};

    --danger-0: #{to-rgb(#272325)};
    --danger-1: #{to-rgb(#331e23)};
    --danger-2: #{to-rgb(#3e1f28)};
    --danger-3: #{to-rgb(#4c222e)};
    --danger-4: #{to-rgb(#5b2635)};
    --danger-5: #{to-rgb(#6a2b3e)};
    --danger-6: #{to-rgb(#7a3047)};
    --danger-7: #{to-rgb(#8b3552)};
    --danger-8: #{to-rgb(#9e3a5f)};
    --danger-9: #{to-rgb(#a53d6e)};
    --danger-10: #{to-rgb(#b63e7c)};
    --danger-11: #{to-rgb(#c8408c)};

    --info-0: #{to-rgb(#23262c)};
    --info-1: #{to-rgb(#1f2832)};
    --info-2: #{to-rgb(#243141)};
    --info-3: #{to-rgb(#2a3d52)};
    --info-4: #{to-rgb(#2f4a66)};
    --info-5: #{to-rgb(#34567b)};
    --info-6: #{to-rgb(#3b638f)};
    --info-7: #{to-rgb(#436fa3)};
    --info-8: #{to-rgb(#4b7bb7)};
    --info-9: #{to-rgb(#5588cb)};
    --info-10: #{to-rgb(#6094df)};
    --info-11: #{to-rgb(#6aa3f3)};

    --success-0: #{to-rgb(#1d2620)};
    --success-1: #{to-rgb(#222d26)};
    --success-2: #{to-rgb(#26342c)};
    --success-3: #{to-rgb(#2c4435)};
    --success-4: #{to-rgb(#33543e)};
    --success-5: #{to-rgb(#3a6547)};
    --success-6: #{to-rgb(#417651)};
    --success-7: #{to-rgb(#4b875d)};
    --success-8: #{to-rgb(#589967)};
    --success-9: #{to-rgb(#6eac74)};
    --success-10: #{to-rgb(#86ba86)};
    --success-11: #{to-rgb(#9bc89b)};

    --warning-0: #{to-rgb(#2b261a)};
    --warning-1: #{to-rgb(#332b1b)};
    --warning-2: #{to-rgb(#3d321e)};
    --warning-3: #{to-rgb(#4a3c21)};
    --warning-4: #{to-rgb(#554825)};
    --warning-5: #{to-rgb(#63552a)};
    --warning-6: #{to-rgb(#74602f)};
    --warning-7: #{to-rgb(#8a6c34)};
    --warning-8: #{to-rgb(#a37b3a)};
    --warning-9: #{to-rgb(#c19041)};
    --warning-10: #{to-rgb(#d5a048)};
    --warning-11: #{to-rgb(#eab14f)};

    --gray-0: #{to-rgb(#14161a)};
    --gray-1: #{to-rgb(#1b1d21)};
    --gray-2: #{to-rgb(#22252b)};
    --gray-3: #{to-rgb(#2a2d33)};
    --gray-4: #{to-rgb(#333b3d)};
    --gray-5: #{to-rgb(#3d464a)};
    --gray-6: #{to-rgb(#475055)};
    --gray-7: #{to-rgb(#515d60)};
    --gray-8: #{to-rgb(#5c696b)};
    --gray-9: #{to-rgb(#677577)};
    --gray-10: #{to-rgb(#738180)};
    --gray-11: #{to-rgb(#7f8c8c)};
}
