@use 'sass:color';
@use '../mixin' as flux;

@function to-rgb($hex) {
    @return color.channel($hex, 'red', $space: rgb) color.channel($hex, 'green', $space: rgb) color.channel($hex, 'blue', $space: rgb);
}

[light],
:root {
    --primary-0: #{to-rgb(#ffffff)};
    --primary-1: #{to-rgb(#f5f8ff)};
    --primary-2: #{to-rgb(#eff4ff)};
    --primary-3: #{to-rgb(#d1e0ff)};
    --primary-4: #{to-rgb(#b2ccff)};
    --primary-5: #{to-rgb(#84adff)};
    --primary-6: #{to-rgb(#528bff)};
    --primary-7: #{to-rgb(#2970ff)};
    --primary-8: #{to-rgb(#155eef)};
    --primary-9: #{to-rgb(#004eeb)};
    --primary-10: #{to-rgb(#0040c1)};
    --primary-11: #{to-rgb(#00359e)};

    --danger-0: #{to-rgb(#ffffff)};
    --danger-1: #{to-rgb(#fff1f2)};
    --danger-2: #{to-rgb(#ffe4e6)};
    --danger-3: #{to-rgb(#ffccd3)};
    --danger-4: #{to-rgb(#ffa1ad)};
    --danger-5: #{to-rgb(#ff637e)};
    --danger-6: #{to-rgb(#ff2056)};
    --danger-7: #{to-rgb(#ec003f)};
    --danger-8: #{to-rgb(#c70036)};
    --danger-9: #{to-rgb(#a50036)};
    --danger-10: #{to-rgb(#8b0836)};
    --danger-11: #{to-rgb(#4d0218)};

    --info-0: #{to-rgb(#ffffff)};
    --info-1: #{to-rgb(#eff6ff)};
    --info-2: #{to-rgb(#dbeafe)};
    --info-3: #{to-rgb(#bedbff)};
    --info-4: #{to-rgb(#8ec5ff)};
    --info-5: #{to-rgb(#51a2ff)};
    --info-6: #{to-rgb(#2b7fff)};
    --info-7: #{to-rgb(#155dfc)};
    --info-8: #{to-rgb(#1447e6)};
    --info-9: #{to-rgb(#193cb8)};
    --info-10: #{to-rgb(#1c398e)};
    --info-11: #{to-rgb(#162456)};

    --success-0: #{to-rgb(#ffffff)};
    --success-1: #{to-rgb(#f0fdf4)};
    --success-2: #{to-rgb(#dcfce7)};
    --success-3: #{to-rgb(#b9f8cf)};
    --success-4: #{to-rgb(#7bf1a8)};
    --success-5: #{to-rgb(#05df72)};
    --success-6: #{to-rgb(#00c950)};
    --success-7: #{to-rgb(#00a63e)};
    --success-8: #{to-rgb(#008236)};
    --success-9: #{to-rgb(#016630)};
    --success-10: #{to-rgb(#0d542b)};
    --success-11: #{to-rgb(#032e15)};

    --warning-0: #{to-rgb(#ffffff)};
    --warning-1: #{to-rgb(#fffbeb)};
    --warning-2: #{to-rgb(#fef3c6)};
    --warning-3: #{to-rgb(#fee685)};
    --warning-4: #{to-rgb(#ffd230)};
    --warning-5: #{to-rgb(#ffb900)};
    --warning-6: #{to-rgb(#fe9a00)};
    --warning-7: #{to-rgb(#e17100)};
    --warning-8: #{to-rgb(#bb4d00)};
    --warning-9: #{to-rgb(#973c00)};
    --warning-10: #{to-rgb(#7b3306)};
    --warning-11: #{to-rgb(#461901)};

    // slate
    --gray-0: #{to-rgb(#ffffff)};
    --gray-1: #{to-rgb(#fcfcfd)};
    --gray-2: #{to-rgb(#f8fafc)};
    --gray-3: #{to-rgb(#eef2f6)};
    --gray-4: #{to-rgb(#e3e8ef)};
    --gray-5: #{to-rgb(#cdd5df)};
    --gray-6: #{to-rgb(#9aa4b2)};
    --gray-7: #{to-rgb(#697586)};
    --gray-8: #{to-rgb(#4b5565)};
    --gray-9: #{to-rgb(#364152)};
    --gray-10: #{to-rgb(#202939)};
    --gray-11: #{to-rgb(#121926)};
}

[dark] {
    --primary-0: #{to-rgb(#ffffff)};
    --primary-1: #{to-rgb(#f5f8ff)};
    --primary-2: #{to-rgb(#dde7fd)};
    --primary-3: #{to-rgb(#c4d6fb)};
    --primary-4: #{to-rgb(#acc5f9)};
    --primary-5: #{to-rgb(#93b4f7)};
    --primary-6: #{to-rgb(#7ba3f5)};
    --primary-7: #{to-rgb(#6292f3)};
    --primary-8: #{to-rgb(#4a81f1)};
    --primary-9: #{to-rgb(#3170ef)};
    --primary-10: #{to-rgb(#195fed)};
    --primary-11: #{to-rgb(#004eeb)};

    --gray-0: #{to-rgb(#14161a)};
    --gray-1: #{to-rgb(#1b1d21)};
    --gray-2: #{to-rgb(#22252b)};
    --gray-3: #{to-rgb(#2a2d33)};
    --gray-4: #{to-rgb(#333b3d)};
    --gray-5: #{to-rgb(#3d464a)};
    --gray-6: #{to-rgb(#475055)};
    --gray-7: #{to-rgb(#515d60)};
    --gray-8: #{to-rgb(#5c696b)};
    --gray-9: #{to-rgb(#677577)};
    --gray-10: #{to-rgb(#738180)};
    --gray-11: #{to-rgb(#7f8c8c)};
}
