:root {
    --radius: 9px;

    --background: rgb(var(--gray-2));
    --foreground: rgb(var(--gray-8));
    --foreground-prominent: rgb(var(--gray-10));
    --foreground-secondary: rgb(var(--gray-5));
}

[dark] {
    --background: rgb(var(--gray-2));
    --foreground: #cbd5e1;
    --foreground-prominent: #ffffff;
    --foreground-secondary: #64748b;
}
