:root {
    --radius: 9px;

    --background: rgb(var(--gray-2));
    --foreground: rgb(var(--gray-8));
    --foreground-prominent: rgb(var(--gray-10));
    --foreground-secondary: rgb(var(--gray-6));
}

[dark] {
    --background: rgb(var(--gray-2));
    --foreground: #cdd5df;
    --foreground-prominent: #ffffff;
    --foreground-secondary: rgb(var(--gray-10));
}
