@use '~flux/components/css/mixin';

.statisticsBase {
    display: flex;
    height: 100%;
    flex-flow: column;
}

.statisticsBaseSmall {
    composes: statisticsBase;
}

.statisticsBaseContent {
    position: relative;
    display: flex;
    padding: 18px;
    flex-flow: column;
}

.statisticsBaseHeader {
    display: flex;
    padding: 18px 18px 0;
    gap: 9px;
    align-items: flex-start;
}

.statisticsBaseHeaderTitle {
    color: var(--foreground-prominent);
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    word-break: break-word;
}

.statisticsBaseHeaderIcon,
.statisticsBaseHeaderInfo {
    font-size: 20px;
    line-height: 24px;
}

.statisticsBaseHeaderInfo {
    margin-left: auto;
    color: var(--foreground-secondary);
    cursor: help;
    scale: .75;
    transition: color .2s var(--swift-out);

    @include mixin.hover {
        color: var(--foreground-prominent);
    }
}

.statisticsBaseHeaderInfo + .statisticsBaseHeaderIcon {
    margin-left: 6px;
}

.statisticsBaseHeaderIcon {
    margin-left: auto;
    color: var(--primary-600);
}

.statisticsBaseSmall .statisticsBaseHeaderTitle {
    color: var(--foreground);
    font-size: 14px;
    line-height: 18px;
}

.statisticsBaseSmall .statisticsBaseHeaderInfo {
    font-size: 14px;
    line-height: 18px;
}

.statisticsBaseSmall .statisticsBaseHeaderIcon {
    font-size: 18px;
}
