@use '~flux/components/css/mixin';

.statisticsChange {
    display: inline-flex;
    align-items: baseline;
    flex-flow: row nowrap;
    gap: 6px;

    @each $color in mixin.$colors {
        &.is#{mixin.color-suffix($color)} {
            --color: var(--#{$color}-600);
        }
    }

    &.isGray {
        --color: var(--foreground-prominent);
    }
}

.statisticsChangeIcon {
    color: var(--color);
    font-size: 12px;
    translate: 0 1px;
}

.statisticsChangeValue {
    // Explicit: Change renders in containers with an 18px or 24px line box.
    @include mixin.text(2xsmall);

    color: var(--color);
    font-weight: 500;
    font-variant-numeric: tabular-nums;
}
