:root {
    --chart-primary: var(--primary-700);
    --chart-positive: var(--success-500);
    --chart-negative: var(--danger-500);
    --chart-1: var(--chart-primary);
    --chart-2: var(--primary-500);
    --chart-3: var(--primary-300);
    --chart-4: var(--primary-100);
    --chart-secondary-1: var(--gray-300);
    --chart-secondary-2: var(--gray-200);
}

:local(.pane):has(.statisticsChart) {
    display: flex;
    flex-flow: column;
    contain: paint;
}

.statisticsChart {
    position: absolute;
    display: block;
    inset: -3px 0 -3px -4px;
    height: unset;
    width: unset;

    :global(svg) {
        overflow: visible;
    }

    --stroke: rgb(from var(--surface-stroke) r g b / .5);

    :global(.apexcharts-grid-borders) {
        display: none;
    }
}

.statisticsChartElement {
    position: absolute;
    display: block;
    inset: 0;
}

.statisticsChartTooltip {
    background: var(--gray-25);
    background-clip: padding-box;
    border: 1px solid var(--surface-stroke-out);
    border-radius: var(--radius-half);
    box-shadow: var(--shadow-lg);
    color: var(--foreground);
    contain: paint;
}

.statisticsChartTooltipTitle {
    padding: 15px;
    background: var(--gray-25);
    border-bottom: 1px solid var(--surface-stroke-out);
    color: var(--foreground-prominent);
    font-weight: 700;
    line-height: 1;
}

.statisticsChartTooltipBody {
    display: grid;
    padding: 12px 15px;
    align-items: center;
    gap: 6px 15px;
    grid-template-columns: repeat(3, auto);
}

.statisticsChartTooltipSeriesColor {
    height: 12px;
    width: 12px;
    background: var(--danger-600);
    border-radius: 6px;
}

.statisticsChartTooltipSeriesName {
    font-weight: 700;
}
