:root {
    --chart-primary: var(--primary-700);
    --chart-positive: var(--success-500);
    --chart-negative: var(--danger-500);
    --chart-1: var(--chart-primary);
    --chart-2: var(--primary-500);
    --chart-3: var(--primary-300);
    --chart-4: var(--primary-100);
    --chart-secondary-1: var(--gray-300);
    --chart-secondary-2: var(--gray-200);
}

:local(.pane):has(.statisticsChart) {
    display: flex;
    min-width: 0;
    flex-flow: column;
}

.statisticsChart {
    position: absolute;
    display: block;
    inset: 0;
    height: unset;
    width: unset;

    --stroke: rgb(from var(--surface-stroke) r g b / .5);
}

.statisticsChartElement {
    position: absolute;
    display: block;
    inset: 0;
}

.statisticsChartTooltipTitle {
    padding: 18px 18px 0;
    color: var(--foreground-prominent);
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
}

.statisticsChartTooltipBody {
    display: grid;
    padding: 12px 18px 15px;
    align-items: center;
    gap: 6px 15px;
    grid-template-columns: repeat(3, auto);
}

.statisticsChartTooltipSeriesColor {
    height: 12px;
    width: 12px;
    background: var(--danger-600);
    border-radius: 6px;
}

.statisticsChartTooltipSeriesName {
    color: var(--foreground-secondary);
    font-size: 14px;
    font-weight: 700;
    transition: color .15s ease-out;
}

.statisticsChartTooltipSeriesValue {
    color: var(--foreground-secondary);
    font-size: 14px;
    font-weight: 500;
    text-align: right;
    transition: color .15s ease-out;
}

.statisticsChartTooltipSeriesName.isActive,
.statisticsChartTooltipSeriesValue.isActive {
    color: var(--foreground-prominent);
}

.statisticsChartTooltipSection {
    padding: 12px 18px;
    transition: opacity .15s ease-out;

    & + & {
        border-top: 1px solid var(--surface-stroke);
    }
}

.statisticsChartTooltipSection.isDimmed {
    opacity: .55;
}

.statisticsChartTooltipSectionTitle {
    color: var(--foreground-prominent);
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 9px;
}

.statisticsChartTooltipSectionBody {
    display: grid;
    align-items: center;
    gap: 6px 15px;
    grid-template-columns: repeat(3, auto);
}

:global(.flux-statistics-tooltip) {
    background: rgb(from var(--surface) r g b / .975) !important;
    background-clip: padding-box;
    backdrop-filter: blur(3px) saturate(180%);
    border: 1px solid var(--surface-stroke-out-hover) !important;
    border-radius: var(--radius-double) !important;
    box-shadow: var(--shadow-lg) !important;
    color: var(--foreground);
    contain: paint;
}
