:root {
    --chart-primary: var(--primary-700);
    --chart-positive: var(--success-500);
    --chart-negative: var(--danger-500);
    --chart-1: var(--chart-primary);
    --chart-2: var(--primary-500);
    --chart-3: var(--primary-300);
    --chart-4: var(--primary-100);
    --chart-secondary-1: var(--gray-300);
    --chart-secondary-2: var(--gray-200);
}

:local(.pane):has(.statisticsChart) {
    display: flex;
    min-width: 0;
    flex-flow: column;
}

.statisticsChart {
    position: absolute;
    display: block;
    inset: 0;
    //inset: -3px -2px -4px -2px;
    height: unset;
    width: unset;

    :global(svg) {
        overflow: hidden;
    }

    --stroke: rgb(from var(--surface-stroke) r g b / .5);

    :global(.apexcharts-canvas) {
        :global(.apexcharts-grid-borders) {
            display: none;
        }

        :global(.apexcharts-yaxis-texts-g) {
            display: none;
        }

        :global(.apexcharts-tooltip) {
            background: rgb(from var(--gray-25) r g b / .85);
            background-clip: padding-box;
            backdrop-filter: blur(6px) saturate(180%);
            border: 1px solid var(--surface-stroke-out-hover);
            border-radius: var(--radius-double);
            box-shadow: var(--shadow-lg);
            color: var(--foreground);
            contain: paint;
        }
    }
}

.statisticsChartElement {
    position: absolute;
    display: block;
    inset: 0;
}

.statisticsChartTooltipTitle {
    padding: 18px 18px 0;
    color: var(--foreground-prominent);
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
}

.statisticsChartTooltipBody {
    display: grid;
    padding: 12px 18px 15px;
    align-items: center;
    gap: 6px 15px;
    grid-template-columns: repeat(3, auto);
}

.statisticsChartTooltipSeriesColor {
    height: 12px;
    width: 12px;
    background: var(--danger-600);
    border-radius: 6px;
}

.statisticsChartTooltipSeriesName {
    font-size: 14px;
    font-weight: 700;
}

.statisticsChartTooltipSeriesValue {
    font-size: 14px;
    font-weight: 500;
    text-align: right;
}
