@use '~flux/components/css/mixin';

:root {
    --chart-primary: var(--primary-700);
    --chart-positive: var(--success-500);
    --chart-negative: var(--danger-500);
    --chart-1: var(--chart-primary);
    --chart-2: var(--primary-500);
    --chart-3: var(--primary-300);
    --chart-4: var(--primary-100);
    --chart-secondary-1: var(--gray-300);
    --chart-secondary-2: var(--gray-200);
}

:local(.pane):has(.statisticsChart) {
    display: flex;
    min-width: 0;
    flex-flow: column;
}

.statisticsChart {
    position: absolute;
    display: block;
    inset: 0;
    height: unset;
    width: unset;

    --stroke: rgb(from var(--surface-stroke) r g b / .5);
}

.statisticsChartTooltip {
    background: rgb(from var(--surface) r g b / .975);
    background-clip: padding-box;
    backdrop-filter: blur(3px) saturate(180%);
    border: 1px solid var(--surface-stroke-out-hover);
    border-radius: var(--radius-double);
    box-shadow: var(--shadow-lg);
    color: var(--foreground);
}

.statisticsChartTooltipTitle {
    @include mixin.text(default, $line-height: 1);

    padding: 18px 18px 0;
    color: var(--foreground-prominent);
    font-weight: 700;
}

.statisticsChartTooltipBody {
    display: grid;
    padding: 12px 18px 15px;
    align-items: center;
    gap: 6px 15px;
    grid-template-columns: repeat(3, auto);
}

.statisticsChartTooltipSeriesColor {
    height: 12px;
    width: 12px;
    background: var(--danger-600);
    border-radius: 6px;
}

.statisticsChartTooltipSeriesIcon {
    display: flex;
    height: 14px;
    width: 14px;
    color: var(--danger-600);
    align-items: center;
    justify-content: center;

    & > svg {
        height: 100%;
        width: 100%;
    }
}

.statisticsChartTooltipSeriesName {
    @include mixin.text(small);

    color: var(--foreground-secondary);
    font-weight: 700;
    transition: color .15s ease-out;
}

.statisticsChartTooltipSeriesValue {
    @include mixin.text(small);

    color: var(--foreground-secondary);
    font-weight: 500;
    text-align: right;
    transition: color .15s ease-out;
}

.statisticsChartTooltipSeriesName.isActive,
.statisticsChartTooltipSeriesValue.isActive {
    color: var(--foreground-prominent);
}

.statisticsChartTooltipSection {
    padding: 12px 18px;
    transition: opacity .15s ease-out;

    & + & {
        border-top: 1px solid var(--surface-stroke);
    }
}

.statisticsChartTooltipSection.isDimmed {
    opacity: .55;
}

.statisticsChartTooltipSectionTitle {
    @include mixin.text(small, $line-height: 1);

    color: var(--foreground-prominent);
    font-weight: 700;
    margin-bottom: 9px;
}

.statisticsChartTooltipSectionBody {
    display: grid;
    align-items: center;
    gap: 6px 15px;
    grid-template-columns: repeat(3, auto);
}
