@use '~flux/components/css/mixin';

.statisticsChartPane {
    --aspect-ratio: unset;

    container: chart-pane / inline-size;
    max-width: 100%;
    contain: paint;
}

.statisticsChartPaneBody {
    display: grid;
    align-content: start;
    flex-grow: 1;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    .statisticsChartPaneContainer {
        height: calc(100cqw / var(--aspect-ratio, 1));
    }

    &:has(.statisticsLegend) {
        grid-template-columns: .4fr .6fr;

        @container chart-pane (max-width: 390px) {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
        }

        .statisticsChartPaneContainer {
            height: calc(40cqw / var(--aspect-ratio, 1));
        }
    }
}

.statisticsChartPaneContainer {
    position: relative;
    display: block;
    align-self: center;
}

:local(.paneHeader) + .statisticsChartPaneContainer {
    margin-top: 18px;
}
