@use '~flux/components/css/mixin';

.statisticsEmpty {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 24px 18px;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 9px;
}

.statisticsEmptyIcon {
    color: var(--foreground-secondary);
    font-size: 32px;
    opacity: 0.5;
}

.statisticsEmptyTitle {
    @include mixin.text(large);

    color: var(--foreground-prominent);
    font-weight: 700;
}

.statisticsEmptyDescription {
    @include mixin.text(small);

    max-width: 320px;
    color: var(--foreground-secondary);
    font-weight: 400;
}

.statisticsEmptyActions {
    display: flex;
    margin-top: 9px;
    align-items: center;
    gap: 9px;
}
