.statisticsKpiBottom {
    margin-top: 3px;
    line-height: var(--line-height-xsmall);

    :local(.statisticsChange) {
        margin-right: .3em;
    }
}

.statisticsKpiFooter {
    color: var(--foreground-secondary);
    font-size: var(--font-size-small);
}

.statisticsKpiValue {
    padding-top: 18px;
    color: var(--foreground-prominent);
    font-size: 21px;
    font-weight: 800;
    font-variant-numeric: tabular-nums;
    line-height: 36px;
}
