@use '~flux/components/css/mixin';

.statisticsLegend {
    display: flex;
    min-width: 0;
    padding: 0 9px;
    flex-flow: column;
    flex-grow: 1;
    gap: 3px;
    user-select: none;
}

:local(.statisticsChartPaneBody) .statisticsLegend {
    padding: 9px 36px 9px 18px;
}

.statisticsLegendItem {
    --color: var(--primary-600);

    position: relative;
    appearance: none;
    display: flex;
    padding: 6px;
    margin: 0 -9px;
    align-items: flex-start;
    flex-flow: row nowrap;
    gap: 9px;
    color: inherit;
    font: inherit;
    font-size: 14px;
    line-height: 20px;
    text-align: inherit;
    white-space: nowrap;
    background: none;
    border: 0;
    border-radius: var(--radius-half);
    cursor: default;
    transition: background 120ms var(--swift-out);
    z-index: 0;

    @include mixin.focus-ring();
}

.statisticsLegendItem.isHovered {
    background: var(--surface-active);
}

.statisticsLegendItemColor {
    height: 12px;
    width: 12px;
    margin: 4px;
    flex-shrink: 0;
    background: var(--color);
    border-radius: calc(var(--radius-half) / 2);
}

.statisticsLegendItemIcon {
    margin: 2px;
    color: var(--color);
}

.statisticsLegendItemLabel {
    flex-grow: 1;
    color: var(--foreground);
    font-weight: 600;
}

.statisticsLegendItemValue {
    font-variant-numeric: tabular-nums;
    margin-left: 15px;
    text-align: right;
}

.statisticsLegendItem:not(:focus-visible) + .statisticsLegendItem:not(:focus-visible)::before {
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
    content: '';
    border-top: 1px dashed var(--surface-stroke);
    z-index: -1;
}

.statisticsLegendCompact {
    display: flex;
    user-select: none;

    &.isHorizontal {
        flex-flow: row wrap;
        gap: 12px 18px;
    }

    &.isVertical {
        flex-flow: column;
        gap: 12px;
    }
}

.statisticsLegendItemCompact {
    --color: var(--primary-600);

    appearance: none;
    display: flex;
    padding: 0;
    align-items: center;
    flex-flow: row nowrap;
    gap: 6px;
    color: inherit;
    font: inherit;
    font-size: 14px;
    line-height: 1;
    text-align: inherit;
    white-space: nowrap;
    background: none;
    border: 0;
    cursor: default;

    @include mixin.focus-ring();

    .statisticsLegendItemColor {
        margin: 0;
        border-radius: var(--radius-full);
    }

    .statisticsLegendItemIcon {
        margin: 0;
    }

    .statisticsLegendItemLabel {
        flex-grow: 0;
        font-weight: 400;
    }

    .statisticsLegendItemValue {
        margin-left: 0;
    }
}
