.statisticsMeter {
    --color: var(--primary-600);
    --percentage: 0%;

    display: flex;
    flex-flow: column;
    gap: 9px;
}

.statisticsMeterBar {
    height: 6px;
    background: var(--gray-100);
    border-radius: var(--radius);
}

.statisticsMeterBarValue {
    height: inherit;
    width: var(--percentage);
    background: var(--color);
    border-radius: inherit;
}

.statisticsMeterFooter {
    color: var(--foreground-secondary);
    font-size: 14px;
}

.statisticsMeterHeader {
    display: grid;
    gap: 6px 12px;
    grid-template-areas: "title value" "sub-title tip";
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    line-height: 18px;
    vertical-align: middle;

    &:has(> .statisticsMeterHeaderIcon) {
        grid-template-areas: "icon title value" "icon sub-title tip";
        grid-template-columns: auto 1fr auto;
    }
}

.statisticsMeterHeaderIcon {
    margin-top: 1px;
    grid-area: icon;
    color: var(--color);
}

.statisticsMeterHeaderTitle {
    grid-area: title;
    color: var(--foreground);
    font-weight: 700;
}

.statisticsMeterHeaderSubTitle {
    grid-area: sub-title;
    color: var(--foreground);
    font-size: 14px;
}

.statisticsMeterHeaderValue {
    grid-area: value;
    justify-self: end;
    color: var(--foreground-prominent);
    font-size: 18px;
    font-weight: 700;
}

.statisticsMeterHeaderTip {
    grid-area: tip;
    justify-self: end;
    color: var(--foreground-secondary);
    font-size: 13px;
}

:local(.statisticsBaseContent) .statisticsMeter + .statisticsMeter {
    margin-top: 21px;
}
