@use '~flux/components/css/mixin';

.statisticsMetricBottom {
    margin-top: 3px;
    line-height: var(--line-height-default);

    :local(.statisticsChange) {
        margin-right: .3em;
    }

    :local(.statisticsChangeIcon),
    :local(.statisticsChangeValue) {
        font-size: var(--font-size-small);
        font-weight: 600;
    }
}

.statisticsMetricContent {
    display: flex;
    flex-flow: column;

    :global(small) {
        @include mixin.text(small);

        color: var(--foreground-secondary);
        font-weight: 500;
    }

    :global(span) {
        @include mixin.text(xlarge);

        color: var(--foreground);
        font-weight: 600;
        font-variant-numeric: tabular-nums;
    }

    :global(strong) {
        color: var(--foreground-prominent);
        font-size: 21px;
        font-weight: 800;
        font-variant-numeric: tabular-nums;
        line-height: 36px;
    }

    :global(small):not(:first-child) {
        margin-top: 15px;
    }

    :global([data-sparkline]) {
        margin-inline: -18px;
        width: calc(100% + 36px);
        max-width: none;
    }
}

.statisticsMetricFooter {
    color: var(--foreground-secondary);
    font-size: var(--font-size-small);
}

.statisticsMetricLabel {
    @include mixin.text(default);

    padding-top: 18px;
    color: var(--foreground-secondary);
    font-weight: 500;
}

.statisticsMetricValue {
    @include mixin.text(xlarge, $line-height: 36px);

    color: var(--foreground-prominent);
    font-weight: 800;
    font-variant-numeric: tabular-nums;
    text-transform: capitalize;
}

.statisticsMetricContent + .statisticsMetricBottom {
    margin-top: 9px;
}

.statisticsMetricValue + .statisticsMetricContent {
    margin-top: 15px;
}
