@use '~flux/components/css/mixin';

.statisticsPercentageBar {
    display: flex;
    flex-flow: column;
    gap: 9px;
}

.statisticsPercentageBarTrack {
    display: flex;
    flex-flow: row nowrap;
    gap: 3px;
}

.statisticsPercentageBarSegment {
    height: 12px;
    border-radius: calc(var(--radius-control) / 3);
    transition: var(--transition-default);
    transition-property: height, margin, flex-grow, opacity;

    @include mixin.hover {
        height: 18px;
        margin-block: -3px;
    }
}

.statisticsPercentageBarSegment.isHovered {
    height: 18px;
    margin-block: -3px;
}

.statisticsPercentageBarTrack.isHoverActive .statisticsPercentageBarSegment:not(.isHovered):not(:hover) {
    opacity: 0.5;
}

.statisticsPercentageBarTooltip {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    gap: 6px;
}
