.adaptiveGroup {
    display: flex;
    min-width: 0;
    flex-flow: row nowrap;
    gap: var(--gap, 9px);
}

.adaptiveSlot {
    display: flex;
    min-width: 0;
    flex-flow: row nowrap;
}

.adaptiveSlotMeasurer {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: max-content;
    flex-flow: row nowrap;
    pointer-events: none;
    visibility: hidden;
}
