@use '$flux/css/mixin';

.avatar {
    position: relative;
    display: inline-flex;
    height: 1em;
    width: 1em;
    flex: 0 0 1em;
    border-radius: .5em;
    user-select: none;
}

.avatarImage {
    display: block;
    height: inherit;
    width: inherit;
    background: var(--gray-50);
    border-radius: inherit;
    box-shadow: inset 0 0 0 1px var(--gray-100);
}

.avatarFallback {
    position: absolute;
    display: flex;
    inset: 0;
    align-items: center;
    justify-content: center;
    border-radius: inherit;

    .icon {
        font-size: .5em;
    }

    :is(span) {
        font-size: .4em;
        font-weight: 600;
        line-height: 1;
    }
}

.avatarFallbackColorized {
    composes: avatarFallback;

    background: color-mix(in srgb, var(--color), var(--gray-25) 80%);
    color: var(--color);
}

[dark] .avatarFallbackColorized {
    background: color-mix(in srgb, var(--color), var(--gray-25) 70%);
}

.avatarFallbackNeutral {
    composes: avatarFallback;

    background: var(--gray-100);
    color: var(--foreground-secondary);
}

.avatarLoading {
    position: absolute;
    display: flex;
    inset: 0;
    align-items: center;
    justify-content: center;
    background: rgb(from var(--gray-50) r g b / .84);
    box-shadow: inset 0 0 0 1px var(--gray-100);
    border-radius: inherit;
    backdrop-filter: blur(3px) saturate(180%);

    :local(.spinner) {
        --track: rgb(0 0 0 / .12);
    }
}

.avatarStatus {
    position: absolute;
    display: block;
    right: 0.0238095238em;
    bottom: 0.0238095238em;
    height: 0.285714286em;
    width: 0.285714286em;
    background: black;
    border-radius: 99px;
}

.avatarStatusGray {
    composes: avatarStatus;

    background: var(--gray-500);
}

.avatarStatusPrimary {
    composes: avatarStatus;

    background: var(--primary-600);
}

.avatarStatusDanger {
    composes: avatarStatus;

    background: var(--danger-600);
}

.avatarStatusInfo {
    composes: avatarStatus;

    background: var(--info-600);
}

.avatarStatusSuccess {
    composes: avatarStatus;

    background: var(--success-600);
}

.avatarStatusWarning {
    composes: avatarStatus;

    background: var(--warning-600);
}

.avatarClickable {
    cursor: pointer;
    transition: filter 150ms var(--swift-out);

    @include mixin.hover {
        filter: brightness(110%);
    }
}

.statusAvatar {
    composes: avatar;
}

.statusAvatar .avatarFallback,
.statusAvatar .avatarImage {
    mask: url('$flux/image/avatar-mask.svg') no-repeat center center / cover;
    -webkit-mask: url('$flux/image/avatar-mask.svg') no-repeat center center / cover;
}

.persona {
    display: flex;
    padding: 6px;
    align-items: center;
    gap: 12px;
    background: unset;
    border: 0;
    border-radius: var(--radius);
    cursor: pointer;
    text-align: left;
    transition: 180ms var(--swift-out);
    transition-property: background, mixin.focus-ring-transition-properties();

    @include mixin.focus-ring(2px);

    @include mixin.hover {
        background: var(--gray-100);
    }
}

.personaDetails {
    display: flex;
    margin-right: 9px;
    flex-flow: column;
    gap: 3px;
    line-height: 1.2;

    :is(strong) {
        width: max-content;
        color: var(--foreground-prominent);
    }

    :is(span) {
        color: var(--foreground);
        font-size: 14px;
    }
}
