@use '~flux/components/css/mixin';

.avatarGroup {
    display: inline-flex;
    align-items: center;
    flex-flow: row nowrap;
}

.avatarGroupItem {
    position: relative;
    display: inline-flex;
    margin-left: calc(var(--overlap, .3) * -1em);
    border-radius: .3em;
    box-shadow: 0 0 0 .09em var(--gray-25);
    transition: translate .2s var(--swift-out);

    &:first-child {
        margin-left: 0;
    }

    @include mixin.hover {
        z-index: 1;
    }
}
