@use '~flux/components/css/mixin';

.badge {
    display: inline-flex;
    height: 28px;
    width: max-content;
    margin-top: -2px;
    margin-bottom: -2px;
    padding-left: 9px;
    padding-right: 9px;
    align-items: center;
    gap: 6px;
    background: var(--surface);
    border: 1px solid var(--surface-stroke);
    border-radius: var(--radius-full);
    color: var(--foreground-prominent);
    font-size: 13px;
    font-weight: 500;
    font-variant-numeric: tabular-nums;

    &:is(a, button) {
        color: var(--foreground-prominent);
        cursor: pointer;
        text-decoration: none;
        transition: background var(--transition-default);

        @include mixin.hover {
            background: var(--gray-50);
            color: var(--foreground-prominent);
        }
    }

    &.isSmall {
        height: 21px;
        padding-left: 6px;
        padding-right: 6px;
        font-size: 12px;

        .badgeClose {
            height: 15px;
            width: 15px;
            margin-right: -3px;
            padding: 3px;

            .icon {
                font-size: 12px;
            }
        }

        .badgeDot {
            height: 6px;
            width: 6px;
        }
    }

    &.isLarge {
        height: 33px;
        padding-left: 12px;
        padding-right: 12px;
        font-size: 14px;

        .badgeClose {
            height: 24px;
            width: 24px;

            .icon {
                font-size: 18px;
            }
        }
    }

    .spinner {
        --value: var(--color);
    }
}

.badgeClose {
    display: flex;
    height: 20px;
    width: 20px;
    margin-right: -6px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    background: unset;
    border: 0;
    border-radius: var(--radius-full);
    color: var(--foreground-secondary);
    cursor: pointer;

    @include mixin.hover {
        background: var(--gray-100);
        color: var(--foreground);
    }

    &:active {
        background: var(--gray-200);
        color: var(--foreground);
    }

    .icon {
        font-size: 16px;
    }
}

.badgeDot {
    display: block;
    height: 9px;
    width: 9px;
    background: var(--color);
    border-radius: var(--radius-full);
}

.badgeIcon {
    margin-left: -3px;
    color: var(--color);
}

.badgeLabel {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:only-child {
        margin-left: 3px;
        margin-right: 3px;
        color: var(--color-text);
    }
}

.badgeGray {
    composes: badge;

    --color: var(--foreground);
    --color-text: var(--foreground-prominent);

    .badgeLabel {
        color: var(--foreground-prominent);
    }

    .spinner {
        --value: var(--primary-600);
    }
}

.badgePrimary {
    composes: badge;

    --color: var(--primary-600);
    --color-text: var(--primary-700);
}

.badgeDanger {
    composes: badge;

    --color: var(--danger-600);
    --color-text: var(--danger-700);
}

.badgeInfo {
    composes: badge;

    --color: var(--info-600);
    --color-text: var(--info-700);
}

.badgeSuccess {
    composes: badge;

    --color: var(--success-600);
    --color-text: var(--success-700);
}

.badgeWarning {
    composes: badge;

    --color: var(--warning-600);
    --color-text: var(--warning-700);
}

.tag {
    composes: badge;

    background: var(--gray-50);
    border-color: var(--gray-200);
    border-radius: var(--radius-half);
    font-weight: 400;
}

.tagKeyboardShortcut {
    composes: tag;

    padding-left: 3px;
    padding-right: 3px;
}

.tagClose {
    composes: badgeClose;

    border-radius: var(--radius-half);
}

.tagDot {
    composes: badgeDot;
}

.tagIcon {
    composes: badgeIcon;
}

.tagLabel {
    composes: badgeLabel;
}

.badgeGroup {
    composes: badge;

    --badge-group-padding: 12px;

    height: auto;
    padding: 3px var(--badge-group-padding);
    gap: 9px;
    border-color: var(--badge-group-border);

    .badge {
        margin-top: 0;
        margin-bottom: 0;
        border-color: var(--badge-group-border);
    }
}

.badgeGroupHasStart {
    padding-left: 3px;
}

.badgeGroupHasEnd {
    padding-right: 3px;
}

.badgeGroupSmall {
    --badge-group-padding: 9px;

    gap: 6px;
    font-size: 12px;
}

.badgeGroupLarge {
    --badge-group-padding: 15px;

    font-size: 14px;
}

.badgeGroupIcon {
    color: var(--color);
}

.badgeGroupLabel {
    composes: badgeLabel;

    color: var(--color-text);
}

.badgeGroupGray {
    composes: badgeGray;
    composes: badgeGroup;

    --badge-group-border: var(--gray-200);

    background: var(--gray-50);

    &:is(a, button) {
        @include mixin.hover {
            background: var(--gray-100);
        }
    }
}

.badgeGroupPrimary {
    composes: badgePrimary;
    composes: badgeGroup;

    --badge-group-border: var(--primary-200);

    background: var(--primary-50);

    &:is(a, button) {
        @include mixin.hover {
            background: var(--primary-100);
        }
    }
}

.badgeGroupDanger {
    composes: badgeDanger;
    composes: badgeGroup;

    --badge-group-border: var(--danger-200);

    background: var(--danger-50);

    &:is(a, button) {
        @include mixin.hover {
            background: var(--danger-100);
        }
    }
}

.badgeGroupInfo {
    composes: badgeInfo;
    composes: badgeGroup;

    --badge-group-border: var(--info-200);

    background: var(--info-50);

    &:is(a, button) {
        @include mixin.hover {
            background: var(--info-100);
        }
    }
}

.badgeGroupSuccess {
    composes: badgeSuccess;
    composes: badgeGroup;

    --badge-group-border: var(--success-200);

    background: var(--success-50);

    &:is(a, button) {
        @include mixin.hover {
            background: var(--success-100);
        }
    }
}

.badgeGroupWarning {
    composes: badgeWarning;
    composes: badgeGroup;

    --badge-group-border: var(--warning-200);

    background: var(--warning-50);

    &:is(a, button) {
        @include mixin.hover {
            background: var(--warning-100);
        }
    }
}

.tagGray {
    composes: badgeGray;
    composes: tag;
}

.tagPrimary {
    composes: badgePrimary;
    composes: tag;
}

.tagDanger {
    composes: badgeDanger;
    composes: tag;
}

.tagInfo {
    composes: badgeInfo;
    composes: tag;
}

.tagSuccess {
    composes: badgeSuccess;
    composes: tag;
}

.tagWarning {
    composes: badgeWarning;
    composes: tag;
}
