@use '$flux/css/mixin';

.badge {
    display: inline-flex;
    height: 28px;
    width: max-content;
    margin-top: -2px;
    margin-bottom: -2px;
    padding-left: 9px;
    padding-right: 9px;
    align-items: center;
    gap: 6px;
    background: var(--surface);
    border: 1px solid var(--surface-stroke);
    border-radius: 99px;
    color: var(--foreground-prominent);
    font-size: 13px;
    font-weight: 500;

    &:is(a) {
        color: var(--foreground-prominent);
        cursor: pointer;
        text-decoration: none;
        transition: background 180ms var(--swift-out);

        @include mixin.hover {
            background: var(--gray-50);
            color: var(--foreground-prominent);
        }
    }

    .spinner {
        --value: var(--color);
    }
}

.badgeClose {
    display: flex;
    height: 20px;
    width: 20px;
    margin-right: -6px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    background: unset;
    border: 0;
    border-radius: 99px;
    color: var(--foreground-secondary);
    cursor: pointer;

    @include mixin.hover {
        background: var(--gray-100);
        color: var(--foreground);
    }

    &:active {
        background: var(--gray-200);
        color: var(--foreground);
    }

    .icon {
        font-size: 16px;
    }
}

.badgeDot {
    display: block;
    height: 9px;
    width: 9px;
    background: var(--color);
    border-radius: 99px;
}

.badgeIcon {
    margin-left: -3px;
    color: var(--color);
}

.badgeLabel {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:only-child {
        margin-left: 3px;
        margin-right: 3px;
        color: var(--color);
    }
}

.badgeGray {
    composes: badge;

    --color: var(--foreground);

    .badgeLabel {
        color: var(--foreground-prominent);
    }

    .spinner {
        --value: var(--primary-600);
    }
}

.badgePrimary {
    composes: badge;

    --color: var(--primary-600);
}

.badgeDanger {
    composes: badge;

    --color: var(--danger-600);
}

.badgeInfo {
    composes: badge;

    --color: var(--info-600);
}

.badgeSuccess {
    composes: badge;

    --color: var(--success-600);
}

.badgeWarning {
    composes: badge;

    --color: var(--warning-600);
}

.tag {
    composes: badge;

    background: var(--gray-50);
    border-color: var(--gray-200);
    border-radius: var(--radius-half);
    font-weight: 400;
}

.tagClose {
    composes: badgeClose;

    border-radius: var(--radius-half);
}

.tagDot {
    composes: badgeDot;
}

.tagIcon {
    composes: badgeIcon;
}

.tagLabel {
    composes: badgeLabel;
}

.tagGray {
    composes: badgeGray;
    composes: tag;
}

.tagPrimary {
    composes: badgePrimary;
    composes: tag;
}

.tagDanger {
    composes: badgeDanger;
    composes: tag;
}

.tagInfo {
    composes: badgeInfo;
    composes: tag;
}

.tagSuccess {
    composes: badgeSuccess;
    composes: tag;
}

.tagWarning {
    composes: badgeWarning;
    composes: tag;
}
