@use '$flux/css/mixin';

.primaryButton {
    composes: button from './base/Button.module.scss';

    background: var(--primary-600);
    border-color: var(--primary-700);
    box-shadow: 0 1px 1px rgb(from var(--primary-600) r g b / .25);
    color: var(--primary-25);

    @include mixin.hover {
        background: var(--primary-700);
        border-color: var(--primary-800);
    }

    &:active {
        background: var(--primary-800);
        scale: .9875;
    }

    .spinner {
        --track: var(--primary-700);
        --value: var(--primary-25);
    }
}

.primaryButtonIcon {
    composes: buttonIcon from './base/Button.module.scss';

    color: var(--primary-25);
}

.primaryButtonLabel {
    composes: buttonLabel from './base/Button.module.scss';
}

.secondaryButton {
    composes: button from './base/Button.module.scss';

    background: var(--surface);
    border-color: var(--surface-stroke);
    color: var(--foreground);

    @include mixin.hover {
        background: var(--surface-hover);
    }

    &:active {
        background: var(--surface-active);
        scale: .9875;
    }
}

.secondaryButtonIcon {
    composes: buttonIcon from './base/Button.module.scss';

    color: var(--foreground);
}

.secondaryButtonLabel {
    composes: buttonLabel from './base/Button.module.scss';
}

.destructiveButton {
    composes: button from './base/Button.module.scss';

    background: var(--surface);
    border-color: var(--surface-stroke);
    color: var(--foreground);

    @include mixin.hover {
        background: var(--surface-hover);
    }

    &:active {
        background: var(--surface-active);
        scale: .9875;
    }

    .spinner {
        --value: var(--danger-600);
    }
}

.destructiveButtonIcon {
    composes: buttonIcon from './base/Button.module.scss';

    color: var(--danger-600);
}

.destructiveButtonLabel {
    composes: buttonLabel from './base/Button.module.scss';

    &:only-child {
        color: var(--danger-600);
    }
}

.secondaryButton,
.destructiveButton {
    box-shadow: var(--shadow-px), inset 0 -1px rgb(from var(--gray-200) r g b / .15);
}

.linkButton {
    composes: button from './base/Button.module.scss';

    display: inline-flex;
    height: unset;
    padding: 0;
    border: 0;
    box-shadow: unset;
    color: var(--primary-600);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;

    @include mixin.focus-ring(6px);

    @include mixin.hover {
        color: var(--primary-900);

        .linkButtonIcon {
            transform: translate3d(6px, 0, 0);
        }
    }
}

.linkButtonIcon {
    composes: buttonIcon from './base/Button.module.scss';

    color: var(--primary-600);
    transition: inherit;
    transition-property: transform;

    &.icon {
        font-size: 16px;
    }
}

.linkButtonLabel {
    composes: buttonLabel from './base/Button.module.scss';
}

.publishButton {
    composes: primaryButton;

    position: relative;
    overflow: hidden;
}

.publishButtonIcon {
    composes: primaryButtonIcon;
}

.publishButtonLabel {
    composes: primaryButtonLabel;
}

.publishButtonAnimation {
    position: relative;
    display: block;
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
    overflow: visible;

    :is(path) {
        fill: currentColor;
        transition: 270ms var(--swift-out);
    }
}

.publishButton.isDone {
    .publishButtonAnimationArrow {
        animation: publishArrowOut .4s var(--acceleration-curve) both;
    }

    .publishButtonAnimationCheck,
    .publishButtonAnimationCircle {
        transition-delay: .5s;
    }
}

.publishButton.isIdle .publishButtonAnimationCheck {
    opacity: 0;
}

.publishButton.isLoading {
    .publishButtonAnimationArrow {
        animation: publishArrowIn 1s var(--deceleration-curve) both;
    }

    .publishButtonAnimationCheck,
    .publishButtonAnimationCircle {
        opacity: 0;
    }
}

.publishButtonCloud {
    position: absolute;
    top: 50%;
    opacity: 0;
    animation: publish .6s linear infinite;
    transition: 360ms var(--swift-out) 210ms;

    &:nth-child(2) {
        left: -12px;
        animation-delay: -.3s;
    }

    &:nth-child(3) {
        right: -12px;
    }
}

.publishButton.isLoading .publishButtonCloud {
    opacity: .5;
}

.buttonGroup {
    display: inline-flex;
    width: min-content;
    flex-grow: 0;
    flex-shrink: 0;
    z-index: 0;

    :local(.button) {
        border-radius: 0;

        &:first-child {
            border-top-left-radius: var(--radius);
            border-bottom-left-radius: var(--radius);
        }

        &:last-child {
            border-top-right-radius: var(--radius);
            border-bottom-right-radius: var(--radius);
        }
    }

    :local(.primaryButton) {
        z-index: 1;
    }

    :local(.button) + :local(.button) {
        margin-left: -1px;
    }
}

@keyframes publish {
    from {
        translate: 0 calc(-30px - 50%);
    }

    to {
        translate: 0 calc(30px - 50%);
    }
}

@keyframes publishArrowIn {
    25% {
        translate: 0 128px;
    }

    100% {
        translate: 0 0;
    }
}

@keyframes publishArrowOut {
    to {
        opacity: 0;
        translate: 0 -512px;
    }
}
