@use '~flux/components/css/mixin';

.primaryButton {
    composes: button from './base/Button.module.scss';

    background: var(--primary-solid);
    border-color: var(--primary-solid-hover);
    box-shadow: var(--shadow-px);
    color: var(--primary-on-solid);

    @include mixin.hover {
        background: var(--primary-solid-hover);
        border-color: var(--primary-solid-active);
    }

    @include mixin.button-active(var(--primary-solid-active));

    .spinner {
        --track: var(--primary-solid-hover);
        --value: var(--primary-on-solid);
    }
}

.primaryButtonIcon {
    composes: buttonIcon from './base/Button.module.scss';

    color: var(--primary-on-solid);
}

.primaryButtonLabel {
    composes: buttonLabel from './base/Button.module.scss';
}

.secondaryButton {
    composes: button from './base/Button.module.scss';

    background: var(--surface);
    border-color: var(--surface-stroke);
    color: var(--foreground);

    @include mixin.hover {
        background: var(--surface-hover);
    }

    @include mixin.button-active(var(--surface-active));
}

.secondaryButtonIcon {
    composes: buttonIcon from './base/Button.module.scss';

    color: var(--foreground);
}

.secondaryButtonLabel {
    composes: buttonLabel from './base/Button.module.scss';
}

.destructiveButton {
    composes: button from './base/Button.module.scss';

    background: var(--surface);
    border-color: var(--surface-stroke);
    color: var(--foreground);

    @include mixin.hover {
        background: var(--surface-hover);
    }

    @include mixin.button-active(var(--surface-active));

    .spinner {
        --value: var(--danger-solid);
    }
}

.destructiveButtonIcon {
    composes: buttonIcon from './base/Button.module.scss';

    color: var(--danger-text);
}

.destructiveButtonLabel {
    composes: buttonLabel from './base/Button.module.scss';

    &:only-child {
        color: var(--danger-text);
    }
}

.secondaryButton,
.destructiveButton {
    box-shadow: var(--shadow-px), inset 0 -1px color-mix(in srgb, var(--surface-stroke) 15%, transparent);
}

.baseLinkButton {
    composes: button from './base/Button.module.scss';

    gap: 6px;
    border-color: transparent;
    box-shadow: none;

    @include mixin.hover {
        background: var(--surface-hover);
    }

    @include mixin.button-active(var(--surface-active));
}

.primaryLinkButton {
    composes: baseLinkButton;

    color: var(--primary-text);
}

.primaryLinkButtonIcon {
    composes: buttonIcon from './base/Button.module.scss';

    color: var(--primary-text);
}

.primaryLinkButtonLabel {
    composes: buttonLabel from './base/Button.module.scss';
}

.secondaryLinkButton {
    composes: baseLinkButton;

    color: var(--foreground-prominent);
}

.secondaryLinkButtonIcon {
    composes: buttonIcon from './base/Button.module.scss';

    color: var(--foreground);
}

.secondaryLinkButtonLabel {
    composes: buttonLabel from './base/Button.module.scss';
}

.buttonGroup {
    display: inline-flex;
    width: max-content;
    flex-grow: 0;
    flex-shrink: 0;
    z-index: 0;

    :local(.button) {
        border-radius: 0;

        &:first-child {
            border-top-left-radius: var(--radius);
            border-bottom-left-radius: var(--radius);
        }

        &:last-child {
            border-top-right-radius: var(--radius);
            border-bottom-right-radius: var(--radius);
        }
    }

    :local(.primaryButton) {
        z-index: 1;
    }

    :local(.button) + :local(.button) {
        margin-left: -1px;
    }
}
