@use '$flux/css/mixin';

.calendar {
    composes: basePaneStructure from './base/Pane.module.scss';

    display: flex;
    flex-flow: column;
    box-shadow: var(--shadow-sm);
    contain: paint;
}

.calendarActions {
    align-items: center;
}

.calendarLoader {
    composes: basePaneLoader from './base/Pane.module.scss';
}

.calendarCurrent {
    display: flex;
    gap: 9px;
}

.calendarCurrentValue {
    padding: 0;
    background: none;
    border: 0;
    cursor: pointer;
    font-size: 30px;
    letter-spacing: -.05em;
    line-height: 1.5em;
    text-transform: capitalize;

    @include mixin.hover {
        color: var(--primary-600);
    }
}

.calendarCurrentMonth {
    composes: calendarCurrentValue;

    color: var(--foreground-prominent);
    font-weight: 700;
}

.calendarCurrentYear {
    composes: calendarCurrentValue;

    color: var(--foreground);
}

.calendarCells {
    display: grid;
    flex-grow: 1;
    gap: 1px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: min-content repeat(6, auto);
    background: var(--gray-100);
}

.calendarCell {
    padding: 12px 21px;
    background: var(--gray-25);
}

.calendarDay {
    composes: calendarCell;

    padding-left: 0;
    padding-right: 0;
    color: var(--foreground-secondary);
    font-size: 12px;
    font-weight: 400;
    line-height: 1em;
    text-align: center;
    text-transform: capitalize;
}

.calendarEntry {
    composes: calendarCell;

    position: relative;
    min-height: 105px;
    padding-bottom: 39px;

    &.isDisabled {
        background: var(--gray-50);
        color: var(--foreground-secondary);
        pointer-events: none;

        .calendarEntryDate {
            opacity: .25;
        }

        .calendarEvents {
            opacity: .75;
            pointer-events: none;
        }
    }
}

.calendarEntryDate {
    position: absolute;
    right: 21px;
    bottom: 15px;
    color: var(--foreground);
    font-size: 15px;
    font-weight: 700;
    line-height: 1em;
}

.calendarEvents {
    display: grid;
    grid-auto-rows: 1fr;
    gap: 3px;
}

.calendarEvent {
    margin-left: -9px;
    margin-right: -9px;
    padding: 6px 9px;
    background: var(--primary-100);
    border: 0;
    color: var(--primary-800);
    cursor: pointer;
    font-size: 14px;
    line-height: 1.3em;
    text-align: left;

    /** note: This works in all browsers. */
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    &.isSingle {
        border-radius: var(--radius-half);
    }

    &.isMiddle {
        margin-left: -22px;
        margin-right: -22px;
    }

    &.isStart {
        margin-right: -21px;
        border-top-left-radius: var(--radius-half);
        border-bottom-left-radius: var(--radius-half);
    }

    &.isEnd {
        margin-left: -21px;
        border-top-right-radius: var(--radius-half);
        border-bottom-right-radius: var(--radius-half);
    }

    &:not(.isSingle):not(.isStart) {
        span {
            opacity: 0;
        }
    }

    @include mixin.hover {
        background: var(--primary-200);
    }
}
