@use '~flux/components/css/mixin';

.chip {
    display: flex;
    height: var(--chip-height);
    padding: 0 var(--chip-padding);
    align-items: center;
    flex-grow: 0;
    gap: 6px;
    background: var(--gray-soft);
    border: 1px solid var(--gray-border);
    border-radius: var(--radius-full);
    color: var(--foreground);
    transition: var(--transition-default);
    transition-property: background, border, color, mixin.focus-ring-transition-properties();

    &.isSelectable {
        cursor: pointer;

        @include mixin.focus-ring(2px);

        @include mixin.hover {
            background: var(--gray-soft-hover);
        }
    }

    &.isSelected {
        background: var(--primary-soft);
        border-color: var(--primary-border);
        color: var(--primary-text);

        @include mixin.hover {
            background: var(--primary-soft-hover);
        }
    }

    &:has(> .chipIcon:first-child) {
        padding-inline-start: calc(var(--chip-padding) - 3px);
    }

    &:has(> .chipIcon:last-child) {
        padding-inline-end: calc(var(--chip-padding) - 3px);
    }

    :is(span) {
        font-size: var(--control-font-size);
        line-height: var(--control-line-height);

        font-weight: 500;
        white-space: nowrap;
    }
}

.chipIcon {
    font-size: 15px;
}
