@use '~flux/components/css/mixin';

.descriptionList {
    display: flex;
    flex-flow: column;
    gap: 6px;
}

.descriptionListHeader {
    @include mixin.text(small);

    color: var(--foreground-secondary);
    font-weight: 500;
}

.descriptionListItems {
    display: flex;
    margin: 0;
    flex-flow: column;
    gap: 9px;
}

.descriptionItem {
    display: flex;
    gap: 3px;
    align-items: center;
}

.descriptionItem.isStacked {
    gap: 3px;
    align-items: stretch;
    flex-flow: column;
}

.descriptionItem.isStacked .descriptionItemValue {
    margin-left: 0;
    justify-content: flex-start;
    text-align: left;
}

.descriptionItemTerm {
    @include mixin.text(default);

    display: flex;
    gap: 9px;
    align-items: center;
    color: var(--foreground);
}

.descriptionItemIcon {
    flex-shrink: 0;
    color: var(--foreground);
    font-size: 16px;
}

.descriptionItemLabel {
    display: flex;
    gap: 6px;
    align-items: center;
    overflow-wrap: anywhere;
}

.descriptionItemValue {
    @include mixin.text(default);

    display: flex;
    margin: 0;
    margin-left: auto;
    gap: 6px;
    align-items: center;
    color: var(--foreground-prominent);
    font-weight: 600;
    text-align: right;
    overflow-wrap: anywhere;
}

.descriptionListItems.isLabelSmall .descriptionItemTerm {
    @include mixin.text(small);
}

.descriptionListItems.hasLabelWidth {
    display: grid;
    align-items: center;
    gap: 9px 24px;
    grid-template-columns: fit-content(var(--label-width)) 1fr;

    .descriptionItem {
        display: contents;
    }

    .descriptionItemValue {
        margin-left: 0;
        justify-content: flex-start;
        text-align: left;
    }
}

.descriptionListItems.isHorizontal {
    gap: 30px;
    flex-flow: row;

    .descriptionItem {
        position: relative;
        min-width: 0;
        gap: 3px;
        align-items: stretch;
        flex: 1 1 0;
        flex-flow: column;

        & + .descriptionItem::before {
            position: absolute;
            inset-block: 0;
            inset-inline-start: -15px;
            border-inline-start: 1px solid var(--surface-stroke-muted);
            content: '';
        }
    }

    .descriptionItemTerm {
        @include mixin.text(small);
    }

    .descriptionItemValue {
        margin-left: 0;
        justify-content: flex-start;
        font-weight: 500;
        text-align: left;
    }
}
