@use '~flux/components/css/mixin';

.filter {
    @include mixin.hide-scrollbar;

    max-height: 50dvh;
    max-width: 100%;
    padding: 6px;
    width: 270px;
    overflow: auto;
    overscroll-behavior: contain;
    transition: height 150ms var(--deceleration-curve);
    z-index: 0;

    .menu {
        > :where(.divider, .separator) {
            margin: 3px -6px;
        }

        > .menuGroup > .menuSubHeader {
            top: calc(var(--menu-item-height) + 9px);
        }

        > .menuGroup:has(.filterSearch) > .menuSubHeader {
            top: calc(var(--menu-item-height) + var(--field-height) + 21px);
        }

        .menuItemLabel {
            @include mixin.truncate;

            min-width: 0;
        }
    }

    .paneBody {
        margin: -6px;
    }
}

.filterBadge {
    padding-inline: 6px;
    background: var(--primary-soft);
    border: 1px dashed var(--primary-border);
    border-radius: var(--radius-half);
    font-weight: 500;

    :local(.badgeLabel) {
        color: var(--primary-text);
    }
}

.filterButton {
    box-shadow: none;

    :local(.buttonIcon) {
        color: var(--primary-text);
        font-size: 15px;
    }
}

.filterHeader {
    position: sticky;
    margin: -6px -6px 3px;
    padding: 6px;
    top: -6px;
    background: var(--surface-current);
    border-bottom: 1px solid var(--surface-stroke);
    z-index: 2;

    &:first-child {
        border-top-left-radius: var(--radius-container);
        border-top-right-radius: var(--radius-container);
    }
}

.filterBack {
    flex-grow: 1;
}

.filterHeader.menuGroup .filterAction {
    min-width: var(--menu-item-height);
    flex: 0 0 var(--menu-item-height);
    justify-content: center;
}

.filterDatePicker {
    margin: -6px;
}

.filterSearch {
    position: sticky;
    top: -6px;
    margin: -6px -6px 0;
    padding: 6px;
    background: linear-gradient(to bottom, var(--surface-current) 75%, transparent);
    z-index: 1;
}

.filterHeader + .menuGroup .filterSearch {
    top: calc(var(--menu-item-height) + 9px + 1px);
}

.filterBar {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    gap: 9px;
}

.filterBarSearch {
    max-width: 270px;
}
