@use '$flux/css/mixin';

%-form-input-group-inner-styles {
    height: 100%;
    min-height: unset;
    border: 0;
    border-radius: 0;

    @include mixin.focus-ring-remove();

    &:first-child {
        border-top-left-radius: calc(var(--radius) - 1px);
        border-bottom-left-radius: calc(var(--radius) - 1px);
    }

    &:last-child {
        border-top-right-radius: calc(var(--radius) - 1px);
        border-bottom-right-radius: calc(var(--radius) - 1px);
    }
}

.formStructureElement {
    display: flex;
    flex-flow: column;
}

.form {
    composes: formStructureElement;

    gap: 42px;
}

:local(.pane) > .form {
    display: contents;
    gap: 0;
}

.formColumn,
.formSection {
    composes: formStructureElement;

    gap: 18px;
}

.form,
.formColumn,
.formSection {
    > .button {
        align-self: flex-start;
    }
}

.formGrid {
    --columns: 2;

    display: grid;
    gap: 18px;
    grid-template-columns: repeat(var(--columns), 1fr);
}

.formRow {
    display: flex;
    flex-grow: 1;
    gap: 18px;
}

.formSectionTitle {
    color: var(--foreground-prominent);
    font-size: 18px;
    font-weight: 800;
}

@include mixin.breakpoint-down(sm) {
    .formGrid {
        grid-template-columns: 1fr;
    }

    .formRow {
        flex-flow: column;
        gap: 18px;
    }
}

.formField {
    display: flex;
    flex: 1 1 0;
    flex-flow: column;
    gap: 6px;
}

.formFieldHeader {
    display: flex;
    margin-bottom: 0;
    width: 100%;
    align-items: center;
    align-self: flex-start;
    gap: 6px;
    font-size: unset;
}

.formFieldLabel {
    min-height: 1.6em;
    color: var(--foreground-prominent);
    font-weight: 600;
}

.formFieldOptional {
    color: var(--foreground-secondary);
    font-size: .85em;
}

.formFieldValue {
    margin-left: auto;
    color: var(--foreground-secondary);
    font-size: .85em;
}

.formFieldCounter {
    margin-left: auto;
    color: var(--foreground-secondary);
    font-size: .85em;
    white-space: nowrap;
}

.formFieldAddition {
    display: flex;
    margin-top: 3px;
    margin-bottom: 3px;
    gap: 9px;
    font-size: 14px;
    line-height: 24px;
}

.formFieldAdditionIcon {
    margin-top: 4px;
}

.formFieldAdditionError {
    composes: formFieldAddition;

    color: var(--danger-600);
}

.formFieldAdditionHint {
    composes: formFieldAddition;

    color: var(--foreground-secondary);
}

.formFieldAddition + .formFieldAddition {
    margin-top: 0;
}

.formInput {
    position: relative;
    display: block;
    height: 42px;
    width: 100%;
    padding: 0 12px;
    align-self: start;
    background: var(--surface);
    background-clip: padding-box;
    border: 1px solid var(--surface-stroke);
    border-radius: var(--radius);
    box-shadow: var(--shadow-px);
    color: var(--foreground);
    transition: 180ms var(--swift-out);
    transition-property: background, border-color, mixin.focus-ring-transition-properties();

    &::placeholder {
        color: var(--foreground-secondary);
    }

    &.isSecondary {
        background: var(--background);
        border-color: transparent;
        box-shadow: none;
    }
}

.formInputDisabled {
    composes: formInput;

    background: var(--surface-disabled);
    color: var(--foreground-secondary);
    cursor: not-allowed;

    input {
        cursor: inherit;
    }
}

.formInputEnabled {
    composes: formInput;

    @include mixin.focus-ring(-1px, true);

    @include mixin.hover {
        border-color: var(--surface-stroke-hover);
    }
}

.formInputIcon {
    position: absolute;
    margin-top: 11px;
    margin-bottom: 11px;
    color: var(--foreground-secondary);
    pointer-events: none;
}

.formInputIconTrailing {
    composes: formInputIcon;

    right: 12px;
}

.formInputIconLeading {
    composes: formInputIcon;

    left: 12px;
}

.formInputIconPasswordToggle {
    composes: formInputIconTrailing;

    pointer-events: unset;
    cursor: pointer;

    @include mixin.hover {
        color: var(--foreground);
    }
}

.formInputNative {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    padding: 0 12px;
    background: unset;
    border: 0;
    border-radius: inherit;
    color: inherit;
    font: inherit;
    outline: 0;
    text-align: left;

    &::placeholder {
        color: var(--foreground-secondary);
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        -webkit-appearance: none;
    }

    &::-webkit-color-swatch {
        border: 0;
        border-radius: var(--radius-half);
    }

    &::-webkit-color-swatch-wrapper {
        margin: 0 -12px;
        padding: 3px;
        width: calc(100% + 24px);
    }
}

.formInputNativeHasIconLeading {
    padding-left: 42px;
}

.formInputNativeHasIconTrailing {
    padding-right: 42px;
}

.formInputAddition {
    composes: formInput;

    display: flex;
    width: unset;
    align-items: center;
    flex-grow: 0;
    justify-content: center;
    background: var(--surface-disabled);
    color: var(--foreground-secondary);
    pointer-events: none;

    &:has(+ .formInput .formInputNative) {
        border-right: 1px solid var(--surface-stroke);
    }

    + .formInputAddition {
        border-left: 1px solid var(--surface-stroke);
    }

    @at-root .formInput:has(.formInputNative) + & {
        border-left: 1px solid var(--surface-stroke);
    }
}

.formInputGroup {
    composes: formInput;

    display: flex;
    padding: 0;

    @include mixin.focus-ring(-1px, true);

    > :is(.formInput, .formSelect, .button) {
        @extend %-form-input-group-inner-styles;

        + :is(.button, .buttonGroup) {
            margin: 0;
            border-left: 1px solid var(--surface-stroke);
        }
    }

    > .buttonGroup > .button {
        @extend %-form-input-group-inner-styles;

        + .button {
            margin: 0;
            border-left: 1px solid var(--surface-stroke);
        }
    }

    > .buttonGroup:not(:first-child) > .button:first-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    &.isCondensed,
    &.isSecondary {
        .formInputAddition:not(:last-child) {
            padding-right: 0;
            background: unset;
            border-color: transparent;
        }
    }

    &.isSecondary {
        .formInput {
            background: transparent;
            border-color: transparent;
            box-shadow: none;
        }

        .secondaryButton {
            background: transparent;
            border-color: var(--surface-stroke);
            box-shadow: none;

            @include mixin.hover {
                background: var(--surface-stroke-hover);
            }
        }
    }

    &:has(*:disabled) {
        cursor: not-allowed;

        > * {
            pointer-events: none;
        }
    }

    :is(.button[disabled]),
    :is(.button[aria-disabled="true"]) {
        background: var(--surface-disabled);
        opacity: 1;

        &,
        .buttonIcon {
            color: var(--foreground-secondary);
        }
    }
}

.formDateInput {
    cursor: default;

    :is(input) {
        text-align: left;

        &::-webkit-input-placeholder {
            visibility: hidden;
        }

        &::-webkit-calendar-picker-indicator {
            display: none;
            -webkit-appearance: none;
        }
    }
}

.formDateRangeInput {
    composes: formInput;

    display: flex;
    align-items: center;
    cursor: default;
}

.formDateTimeInput {
    .formInput:last-child {
        max-width: 99px;
    }

    .inputGroup {
        flex-grow: 1;
    }
}

.formTimeInput {
    composes: formDateInput;
}

.formSelect {
    composes: formInput;

    position: relative;
    display: flex;
    height: unset;
    min-height: 42px;
    padding: 0 39px 0 6px;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 6px;
    cursor: pointer;

    &:not(.isDisabled) {
        @include mixin.focus-ring(-1px, true);

        @include mixin.hover {
            border-color: var(--surface-stroke-hover);
        }
    }

    &.isDisabled {
        cursor: not-allowed;
    }

    &.isFocused {
        @include mixin.focus-outline-visible(-1px);
    }

    .badge {
        margin-top: 6px;
        margin-bottom: 6px;
        max-width: 100%;
        flex: 0 0 auto;
    }
}

.formSelectIcon {
    position: absolute;
    top: 50%;
    right: 12px;
    translate: 0 -50%;
}

.formSelectInput {
    position: sticky;
    top: 0;
    height: 48px;
    margin-bottom: 9px;
    background: var(--surface);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    outline: 0;
    z-index: 2;

    @include mixin.focus-ring-remove;

    .formInputIcon {
        margin: 15px;
        font-size: 18px;
    }

    .formInputNative {
        padding-left: 21px;
        padding-right: 21px;
    }
}

.formSelectPlaceholder {
    margin-left: 6px;
    margin-right: 6px;
    color: var(--foreground-secondary);
    user-select: none;
}

.formSelectPopup {
    composes: basePane from './base/Pane.module.scss';

    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: var(--width, auto);
    max-height: max(330px, 50dvh);
    min-width: 120px;
    box-shadow: var(--shadow-md);
    overflow: auto;
    translate: var(--x) var(--y);
    z-index: 10000;

    .menuItem {
        contain-intrinsic-size: auto 42px;
        content-visibility: auto;
    }

    &.isKeyboardAction .menuItem {
        transition: 0s;
    }

    &.isSearchable .menuSubHeader {
        top: 48px;
    }
}

.formSelectSelected {
    position: absolute;
    height: 100%;
    padding-left: 12px;
    padding-right: 42px;
    inset: -1px;
    pointer-events: none;

    .buttonLabel {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.isDisabled .formSelectIcon {
    opacity: .5;
}

.isDisabled .formSelectSelected {
    background: var(--surface-disabled);
    border: 1px solid var(--surface-stroke);
    color: var(--foreground-secondary);
    opacity: 1;
}

.formTextArea {
    height: unset;
    // 18px = padding / 2px = border
    min-height: calc(18px + 2px + var(--rows, 1) * 1lh);
    padding-top: 9px;
    padding-bottom: 9px;
    flex-shrink: 0;
    field-sizing: content;
    resize: vertical;
}

.formTextAreaDisabled {
    composes: formInputDisabled;
    composes: formTextArea;
}

.formTextAreaEnabled {
    composes: formInputEnabled;
    composes: formTextArea;
}

.checkbox {
    display: inline-flex;
    flex-shrink: 0;
    gap: 12px;
    outline: 0;
}

.checkboxElement,
.checkboxNative {
    margin: 1px 0;
    height: 22px;
    width: 22px;
}

.checkboxElement {
    position: relative;
    display: inline-flex;
    height: 22px;
    width: 22px;
    padding: 0;
    align-items: center;
    justify-content: center;
    background: var(--gray-50);
    border: 1px solid var(--gray-200);
    border-radius: var(--radius-half);
    color: var(--primary-25);
    cursor: pointer;
    pointer-events: none;
    transition: 210ms var(--swift-out);
    transition-property: background, border-color, color, mixin.focus-ring-transition-properties();

    @include mixin.focus-outline;

    .icon {
        opacity: 0;
        scale: .85;
        transition: inherit;
        transition-property: opacity;

        :is(path) {
            stroke: white;
            stroke-width: 54px;
        }
    }
}

.checkboxLabel {
    align-self: center;
}

.checkboxNative {
    position: absolute;
    opacity: 0;

    @include mixin.hover {
        + .checkboxElement {
            background: var(--gray-100);
        }
    }

    &:is(:checked, :indeterminate) + .checkboxElement {
        background: var(--primary-600);
        border-color: var(--primary-600);

        .icon {
            opacity: 1;
        }
    }

    &:focus-visible + .checkboxElement {
        @include mixin.focus-outline-visible(2px);
    }
}

.quantitySelector {
    min-width: max-content;
    align-self: center;
    justify-self: center;
    border: 1px solid var(--surface-stroke);
    border-radius: var(--radius);
    box-shadow: var(--shadow-px);
    overflow: hidden;
    transition: 180ms var(--swift-out);
    transition-property: border-color, mixin.focus-ring-transition-properties();

    @include mixin.focus-ring(2px, true);

    @include mixin.hover {
        border-color: var(--surface-stroke-hover);
    }
}

.quantitySelectorButton {
    margin: -1px;
    border: 0;

    &:first-child {
        margin-right: 0;
    }

    &:last-child {
        margin-left: 0;
    }

    &,
    &:focus-visible,
    &:focus-within {
        outline: 0;
    }
}

.quantitySelectorInput {
    composes: formInput;

    margin: -1px 0;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    font-variant-numeric: tabular-nums;
    font-weight: 700;
    text-align: center;

    &:hover {
        border-color: var(--surface-stroke-hover);
    }

    &,
    &:focus-visible,
    &:focus-within {
        outline: 0 !important;
    }

    & {
        -moz-appearance: textfield;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.pinInput {
    display: grid;
    width: min-content;
    gap: .4ch;
    grid-template-columns: repeat(var(--max-length, 0), 1fr);
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 24px;
    font-weight: 700;
}

.pinInputField {
    padding: 0;
    width: 2.7ch;
    border: 1px solid var(--surface-stroke);
    border-radius: var(--radius);
    box-shadow: var(--shadow-px);
    font: inherit;
    line-height: 3.3ch;
    outline: 0;
    text-align: center;
    transition: 180ms var(--swift-out);
    transition-property: border-color, mixin.focus-ring-transition-properties();
}

.pinInputEnabled {
    composes: pinInput;

    .pinInputField {
        background-color: var(--surface);
        color: var(--foreground-prominent);

        @include mixin.focus-ring(-1px, true);
    }
}

.pinInputDisabled {
    composes: pinInput;

    .pinInputField {
        background-color: var(--surface-disabled);
        color: var(--foreground-secondary);
        cursor: not-allowed;
    }
}

.toggle {
    position: relative;
    display: block;
    width: 54px;
    height: 30px;
    flex: 0 0 auto;
    background: var(--gray-50);
    border: 1px solid var(--gray-200);
    border-radius: 99px;
    contain: paint;

    &.isChecked {
        border-color: transparent;

        .toggleInput::after {
            translate: 24px 0;
        }

        &:not(.isSwitch) {
            background: var(--primary-600);

            .toggleIcon {
                color: var(--primary-25);
            }

            .toggleInput::after {
                border-color: transparent;
            }
        }

        .toggleIconOn {
            translate: calc(-50% + 24px) -50%;
        }
    }

    &:not(.isChecked) .toggleIconOff {
        translate: calc(-50% - 24px) -50%;
    }

    &.isDisabled {
        cursor: not-allowed;
        opacity: .6;
    }
}

.toggleIcon {
    position: absolute;
    top: 50%;
    color: var(--foreground-secondary);
    pointer-events: none;
    translate: -50% -50%;
}

.toggleIconOff {
    composes: toggleIcon;

    left: 15px;
}

.toggleIconOn {
    composes: toggleIcon;

    left: 39px;
}

.toggleInput {
    -webkit-appearance: none;
    appearance: none;

    position: relative;
    display: block;
    margin: 0;
    height: inherit;
    width: inherit;
    background: unset;
    border: 0;
    border-radius: inherit;
    cursor: pointer;
    outline: 0;

    @include mixin.focus-ring(2px);

    &::after {
        position: absolute;
        display: block;
        top: 2px;
        left: 2px;
        height: 24px;
        width: 24px;
        content: '';
        background: var(--surface);
        border: 1px solid var(--surface-stroke);
        border-radius: 99px;
        box-shadow: var(--shadow-sm);
    }
}

.toggle,
.toggleIcon,
.toggleInput,
.toggleInput::after {
    transition: 210ms var(--swift-out);
    transition-property: background, border-color, color, opacity, scale, translate, mixin.focus-ring-transition-properties();
}
