.icon {
    height: 1em;
    width: 1em;
    flex-shrink: 0;
    font-size: 20px;
    line-height: 1;
    overflow: visible;
}

.fontAwesomeIcon {
    composes: icon;

    display: inline-block;
}

.materialSymbolIcon {
    composes: icon;

    display: inline-flex;
    color: currentColor;
    font-family: 'Material Symbols Outlined', sans-serif;
    font-weight: 400;
    font-style: normal;
    user-select: none;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.iconBoxed {
    composes: basePane from './base/Pane.module.scss';

    display: flex;
    height: 1em;
    width: 1em;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    font-size: 42px;

    .icon {
        font-size: .45em;
    }

    .materialSymbolIcon {
        font-size: .5em;
    }
}

.iconBoxedDefault {
    composes: iconBoxed;

    box-shadow: var(--shadow-sm);
}

.iconBoxedColored {
    composes: iconBoxed;

    border: 0;
}

.iconBoxedGray {
    composes: iconBoxedColored;

    background: var(--gray-100);
    color: var(--foreground);
}

.iconBoxedPrimary {
    composes: iconBoxedColored;

    background: var(--primary-100);
    color: var(--primary-900);
}

.iconBoxedDanger {
    composes: iconBoxedColored;

    background: var(--danger-100);
    color: var(--danger-900);
}

.iconBoxedInfo {
    composes: iconBoxedColored;

    background: var(--info-100);
    color: var(--info-900);
}

.iconBoxedSuccess {
    composes: iconBoxedColored;

    background: var(--success-100);
    color: var(--success-900);
}

.iconBoxedWarning {
    composes: iconBoxedColored;

    background: var(--warning-100);
    color: var(--warning-900);
}
