@use '~flux/components/css/mixin';

.info {
    --info-icon-color: var(--primary-text);

    display: flex;
    gap: 15px;

    > .icon {
        margin-top: 3px;
        flex-shrink: 0;
        color: var(--info-icon-color);
    }
}

@include mixin.color-variants(info) using ($color) {
    @include mixin.intent($color);

    --info-icon-color: var(--intent-text);
}

.infoBody {
    display: flex;
    flex-flow: column;
    justify-content: center;
}
