.info {
    display: flex;
    gap: 15px;

    > .icon {
        margin-top: 1px;
        flex-shrink: 0;
        color: var(--primary-7);
    }
}

.infoBody {
    align-items: center;
    line-height: 1.5;
}
