@use '$flux/css/mixin';

.item {
    display: flex;
    flex-flow: row nowrap;
    gap: 21px;
    text-align: left;
}

.itemActions {
    flex-shrink: 0;
}

.itemContent {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    gap: 3px;
}

.itemMedia {
    --size: 48px;

    flex-shrink: 0;
}

.itemMedia > img {
    height: var(--size);
    width: var(--size);
    object-fit: cover;
    object-position: center;
}

.itemMedia > .avatar {
    font-size: var(--size);
}

.itemMedia > .icon {
    font-size: 24px;
}

.itemMedia > .iconBoxed {
    font-size: var(--size);
}

.itemActions.isCenter,
.itemContent.isCenter,
.itemMedia.isCenter {
    align-self: center;
}

.itemStack {
    position: relative;

    .item + .item {
        margin-top: 21px;
        padding-top: 21px;
        border-top: 1px solid var(--surface-stroke);
    }
}

.basePaneStructure > .item,
.basePaneStructure > .itemStack > .item {
    padding: 21px;
}

.basePaneStructure > .itemStack > .item {
    margin: 0;
}

.basePaneStructure:is(a, button):hover:has(> .item) {
    background-color: color-mix(in srgb, rgb(from var(--surface-hover) r g b / .125), var(--surface));
}
