.layerPane {
    composes: basePaneStructure from './base/Pane.module.scss';

    display: flex;
    flex-flow: column;
    contain: paint;
}

.layerPaneGray {
    composes: layerPane;

    background-color: var(--gray-50);
    border-color: var(--surface-stroke-out);
}

.layerPanePrimary {
    composes: layerPane;

    background-color: var(--primary-100);
    border-color: var(--primary-200);
}

.layerPaneDanger {
    composes: layerPane;

    background-color: var(--danger-100);
    border-color: var(--danger-200);

    :local(.paneHeaderIcon) {
        color: var(--danger-600);
    }
}

.layerPaneInfo {
    composes: layerPane;

    background-color: var(--info-100);
    border-color: var(--info-200);

    :local(.paneHeaderIcon) {
        color: var(--info-600);
    }
}

.layerPaneSuccess {
    composes: layerPane;

    background-color: var(--success-100);
    border-color: var(--success-200);

    :local(.paneHeaderIcon) {
        color: var(--success-600);
    }
}

.layerPaneWarning {
    composes: layerPane;

    background-color: var(--warning-100);
    border-color: var(--warning-200);

    :local(.paneHeaderIcon) {
        color: var(--warning-600);
    }
}

.layerPane > .basePaneStructure {
    margin-left: -1px;
    margin-right: -1px;
}

.layerPane > .basePaneStructure:first-child {
    margin-top: -1px;
}

.layerPane > .basePaneStructure:last-child {
    margin-bottom: -1px;
}

.layerPane > .basePaneStructure + .basePaneStructure {
    border-top-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.layerPane > .basePaneStructure:has(+ .basePaneStructure) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.layerPane > .paneFooter {
    background: unset;
    border: 0;
}

.layerPane > .paneHeader .button {
    margin: -9px -9px -9px 0;
}

.layerPaneSecondary {
    display: flex;
    align-items: center;
    gap: 9px;
    padding: 12px 18px;
    color: var(--foreground-prominent);
}
