@use '$flux/css/mixin';

.aspectRatio {
    position: relative;
    flex-shrink: 0;

    > * {
        height: 100%;
        width: 100%;
    }
}

.autoGrid {
    composes: baseAutoGrid from './base/Grid.module.scss';
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    width: 100%;

    @include mixin.breakpoint-max-widths;
}

.spacer {
    flex-grow: 1;
}

.stack {
    gap: var(--gap, 0);

    &.isCentered {
        place-content: center;
        place-items: center;
    }

    &.isFill {
        width: 100%;
    }

    &.isWrapping {
        flex-wrap: wrap;
    }
}

.stackHorizontal {
    composes: stack;

    display: flex;
}

.stackVertical {
    composes: stack;

    display: flex;
    flex-flow: column;
}
