@use '$flux/css/mixin';

.notice {
    composes: basePaneElement from './base/Pane.module.scss';

    display: flex;
    padding: 12px 15px;
    gap: 12px;
    border-radius: var(--radius);

    .button {
        margin-top: -6px;
        margin-right: -9px;
        margin-bottom: -6px;
        height: 36px;
    }

    a {
        color: currentColor;
    }

    ul {
        margin-top: 3px;
        padding-left: 1em;
        list-style-type: disc;

        li + li {
            margin-top: 9px;
        }
    }
}

.noticeBody {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    text-wrap: pretty;

    :global(p) {
        line-height: 1.6;
    }

    &:last-child {
        flex-grow: 0;
    }
}

.noticeClose {
    display: flex;
    height: 20px;
    width: 20px;
    margin: 2px;
    padding: 0;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    border: 0;
    border-radius: 12px;
    color: currentColor;
    cursor: pointer;
    transition: opacity 150ms var(--swift-out);

    @include mixin.hover {
        opacity: .75;
    }

    > .icon {
        font-size: 14px;
    }
}

.noticePrefix {
    margin-top: 3px;
    flex-shrink: 0;
    font-size: 20px;
}

.noticeMessage,
.noticeTitle {
    margin: 0;
}

.noticeTitle {
    font-weight: 600;
}

.notice.isCenter {
    justify-content: center;
    text-align: center;
}

.notice.isFluid {
    border-style: solid;
    border-width: 1px;
    border-left: 0;
    border-right: 0;
    border-radius: 0;

    &:first-child {
        border-top: 0;
    }

    &:last-child {
        border-bottom: 0;
    }
}

.noticeGray {
    composes: notice;

    background: var(--gray-50);
    border-color: var(--gray-200);
    color: var(--foreground);

    .noticeClose {
        background: var(--gray-200);
    }

    .noticePrefix,
    .noticeTitle {
        color: var(--foreground-prominent);
    }
}

.noticePrimary {
    composes: notice;

    background: var(--primary-100);
    border-color: var(--primary-200);
    color: var(--primary-950);

    .noticeClose {
        background: var(--primary-200);
    }

    .noticePrefix,
    .noticeTitle {
        color: var(--primary-600);
    }

    :local(.button) {
        border-color: var(--primary-300);
    }

    :local(.spinnerTrack) {
        stroke: var(--primary-200);
    }

    :local(.spinnerEffect),
    :local(.spinnerValue) {
        stroke: var(--primary-600);
    }
}

.noticeDanger {
    composes: notice;

    background: var(--danger-100);
    border-color: var(--danger-200);
    color: var(--danger-950);

    .noticeClose {
        background: var(--danger-200);
    }

    .noticePrefix,
    .noticeTitle {
        color: var(--danger-600);
    }

    :local(.button) {
        border-color: var(--danger-300);
    }

    :local(.spinnerTrack) {
        stroke: var(--danger-200);
    }

    :local(.spinnerEffect),
    :local(.spinnerValue) {
        stroke: var(--danger-600);
    }
}

.noticeInfo {
    composes: notice;

    background: var(--info-100);
    border-color: var(--info-200);
    color: var(--info-950);

    .noticeClose {
        background: var(--info-200);
    }

    .noticePrefix,
    .noticeTitle {
        color: var(--info-600);
    }

    :local(.button) {
        border-color: var(--info-300);
    }

    :local(.spinnerTrack) {
        stroke: var(--info-200);
    }

    :local(.spinnerEffect),
    :local(.spinnerValue) {
        stroke: var(--info-600);
    }
}

.noticeSuccess {
    composes: notice;

    background: var(--success-100);
    border-color: var(--success-200);
    color: var(--success-950);

    .noticeClose {
        background: var(--success-200);
    }

    .noticePrefix,
    .noticeTitle {
        color: var(--success-600);
    }

    :local(.button) {
        border-color: var(--success-300);
    }

    :local(.spinnerTrack) {
        stroke: var(--success-200);
    }

    :local(.spinnerEffect),
    :local(.spinnerValue) {
        stroke: var(--success-600);
    }
}

.noticeWarning {
    composes: notice;

    background: var(--warning-100);
    border-color: var(--warning-200);
    color: var(--warning-950);

    .noticeClose {
        background: var(--warning-200);
    }

    .noticePrefix,
    .noticeTitle {
        color: var(--warning-600);
    }

    :local(.button) {
        border-color: var(--warning-300);
    }

    :local(.spinnerTrack) {
        stroke: var(--warning-200);
    }

    :local(.spinnerEffect),
    :local(.spinnerValue) {
        stroke: var(--warning-600);
    }
}

.basePane > .notice {
    padding-left: 21px;
    padding-right: 21px;
}
