@use '~flux/components/css/mixin';

.notice {
    composes: basePaneElement from './base/Pane.module.scss';

    display: flex;
    padding: 12px 15px;
    gap: 12px;
    border-radius: var(--radius);

    .button {
        margin-block: -6px;
        margin-right: -9px;
        height: 36px;
    }

    a {
        color: currentColor;
    }

    code {
        padding: 3px 6px;
        font-size: var(--font-size-xsmall);
        border-radius: var(--radius-half);
    }

    ul {
        margin-top: 3px;
        padding-left: 1em;
        list-style-type: disc;

        li + li {
            margin-top: 9px;
        }
    }
}

.noticeBody {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    text-wrap: pretty;

    &:last-child {
        flex-grow: 0;
    }
}

.noticeClose {
    display: flex;
    height: 20px;
    width: 20px;
    margin: 2px;
    padding: 0;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    border: 0;
    border-radius: 12px;
    color: currentColor;
    cursor: pointer;
    transition: background 150ms var(--swift-out);

    > .icon {
        font-size: 12px;
    }
}

.noticePrefix {
    margin-top: 2px;
    flex-shrink: 0;
    font-size: 20px;
}

.noticeMessage,
.noticeTitle {
    margin: 0;
}

.noticeTitle {
    font-weight: 600;
}

.notice.isCenter {
    justify-content: center;
    text-align: center;
}

.notice.isFluid {
    border-style: solid;
    border-width: 1px;
    border-left: 0;
    border-right: 0;
    border-radius: 0;

    &:first-child {
        border-top: 0;
    }

    &:last-child {
        border-bottom: 0;
    }
}

@include mixin.color-variants(notice) using ($color) {
    composes: notice;

    @include mixin.intent($color);

    background: var(--intent-soft);
    border-color: var(--intent-border);
    color: var(--intent-text);

    code {
        background: var(--intent-soft-hover);
    }

    .noticeClose {
        background: var(--intent-soft-hover);

        @include mixin.hover {
            background: var(--intent-border);
        }
    }

    .noticePrefix {
        color: var(--intent-solid);
    }

    :local(.button) {
        border-color: var(--intent-border);
    }

    :local(.spinnerTrack) {
        stroke: var(--intent-border);
    }

    :local(.spinnerEffect),
    :local(.spinnerValue) {
        stroke: var(--intent-solid);
    }
}

.basePane > .notice {
    padding-inline: 18px;
}
