@use '$flux/css/mixin';

.pagination {
    display: flex;
    gap: 1px;
}

.paginationButton {
    composes: secondaryButton from './Button.module.scss';

    height: 36px;
    min-width: 36px;
    padding: 0 6px;
    background: unset;

    &:local(.secondaryButton) {
        border-color: transparent;
        box-shadow: none;
    }
}

.paginationButtonArrow {
    &:local(.secondaryButton) {
        border-color: var(--gray-2);
    }

    &:first-child {
        margin-right: 6px;
    }

    &:last-child {
        margin-left: 6px;
    }
}

.paginationButton.paginationButtonCurrent {
    background: var(--primary-1);
    border-color: var(--primary-3);
}

.paginationButtonSpacer {
    pointer-events: none;
}

.paginationButtonIcon {
    composes: secondaryButtonIcon from './Button.module.scss';

    font-size: 16px;
}

.paginationButtonLabel {
    composes: secondaryButtonLabel from './Button.module.scss';

    margin: 0;
    min-width: unset;
    font-size: 12px;
}

.paginationBar {
    display: flex;
    align-items: center;
    flex-flow: row;
}

.paginationBarLimit {
    display: flex;
    align-items: center;
    flex-flow: row;
    gap: 15px;
}

.paginationBarLimitDisplayingOf {
    font-size: 12px;
    font-weight: 600;
}

.paginationBarLimitSelect {
    min-height: 36px;
    width: 120px;

    .menuItem {
        min-height: 36px;
    }

    .menuItemLabel {
        font-size: 12px;
        font-weight: 600;
    }
}

@include mixin.breakpoint-down(sm) {
    .paginationBar {
        flex-flow: column;
        gap: 15px;
    }
}
