.percentageBar {
    display: flex;
    flex-flow: column;
    gap: 12px;
}

.percentageBarSegment {
    height: 12px;
    border-radius: calc(var(--radius) / 3);
    transition: 180ms var(--swift-out);
    transition-property: height, margin, flex-grow;

    &:hover {
        height: 16px;
        margin-top: -2px;
        margin-bottom: -2px;
    }
}

.percentageBarTooltip {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    gap: 9px;
}

.percentageBarTrack {
    display: flex;
    flex-flow: row nowrap;
    gap: 3px;
}
