@use '$flux/css/mixin';

.placeholder {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    flex-flow: column;
    justify-content: center;
    background: var(--gray-50);
    border: 2px dashed var(--gray-200);
    border-radius: var(--radius);
    text-align: center;
    user-select: none;

    &.isButton {
        cursor: pointer;

        @include mixin.hover {
            background: var(--gray-100);
        }
    }

    &.isExtended {
        padding: 27px;
        gap: 9px;

        .placeholderIcon {
            font-size: 24px;
        }
    }

    &.isSimple {
        padding: 18px;
    }

    &.isSmall {
        padding: 12px;
        font-size: 12px;

        .placeholderCaption :is(strong) {
            color: var(--foreground-secondary);
            font-weight: 400;
        }

        .placeholderIcon {
            color: var(--foreground-secondary);
        }
    }

    :local(.button) {
        align-self: center;
    }
}

.placeholderCaption {
    display: flex;
    align-items: stretch;
    flex-flow: column;

    :is(p) {
        margin: 0;
        max-width: 510px;
        color: var(--foreground-secondary);
        font-size: 14px;
    }
}

.placeholderIcon {
    color: var(--primary-600);
    font-size: 20px;
}
