.popConfirmBody {
    max-width: 300px;
}

.popConfirmContent {
    display: flex;
    gap: 12px;
}

.popConfirmIcon {
    font-size: 15px;
    margin-top: calc((var(--line-height-default) - 1em) / 2);
    flex-shrink: 0;
}

.popConfirmCaption {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 3px;

    strong {
        color: var(--foreground-prominent);
        font-weight: 600;
    }
}
