.progressBar {
    position: relative;
}

.progressBarTrack {
    position: relative;
    height: 9px;
    background: var(--gray-50);
    border-radius: var(--radius-half);
    box-shadow: inset 0 0 0 1px var(--gray-200);
    contain: paint;
}

.progressBarValue {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    border-radius: inherit;
}

.progressBarValueComplete {
    composes: progressBarValue;

    background: var(--primary-600);
}

.progressBarValueIncomplete {
    composes: progressBarValue;

    background: linear-gradient(to right, var(--primary-600) 20%, var(--primary-500), var(--primary-600) 80%);
    background-size: 150px 100%;
    animation: progressBarValue 1s linear infinite;
}

.progressBarTrackIndeterminate {
    composes: progressBarTrack;

    .progressBarValue {
        background: linear-gradient(to right, var(--primary-600) 20%, var(--primary-500), var(--primary-600) 80%);
        background-size: 90px 100%;
        animation: progressBarIndeterminate 1s linear infinite;
    }
}

.progressBarInfo {
    display: flex;
    gap: 21px;
    justify-content: flex-end;
    font-size: 14px;
}

.progressBarProgress {
    flex-shrink: 0;
    font-variant-numeric: tabular-nums;
    font-weight: 500;
}

.progressBarStatus {
    margin-right: auto;
    color: var(--foreground-secondary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.basePaneStructure > .progressBar:first-child {
    margin: 9px 9px 0;
}

.basePaneStructure > .progressBar:last-child {
    margin: 0 9px 9px;
}

@keyframes progressBarIndeterminate {
    from {
        background-position-x: 90px;
    }

    to {
        background-position-x: -90px;
    }
}

@keyframes progressBarValue {
    from {
        background-position-x: -150px;
    }

    to {
        background-position-x: 150px;
    }
}
