@use '~flux/components/css/mixin';

.segmentedControl {
    position: relative;
    align-items: center;
    gap: 3px;
    padding: 3px;
    background: var(--gray-50);
    border: 1px solid var(--surface-stroke);
    border-radius: var(--radius);
}

.segmentedControlFill {
    composes: segmentedControl;

    display: flex;
}

.segmentedControlInline {
    composes: segmentedControl;

    display: inline-flex;
    width: min-content;
}

.segmentedControlHighlight {
    position: absolute;
    top: 3px;
    bottom: 3px;
    background: var(--surface);
    border-radius: calc(var(--radius) - 3px);
    box-shadow: var(--shadow-md);
    outline: 1px solid var(--surface-stroke);
    pointer-events: none;
    transition: 300ms var(--swift-out);
    transition-property: left, width;
}

.segmentedControlItem {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1 1 0;
    justify-content: center;
    background: none;
    border: 0;
    border-radius: var(--radius-full);
    color: var(--foreground);
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    transition: color 300ms var(--swift-out);
    white-space: nowrap;

    @include mixin.hover {
        color: var(--foreground-prominent);
    }

    @include mixin.focus-ring(3px);

    &.isActive {
        color: var(--foreground-prominent);
        cursor: default;
    }

    &.isSmall {
        height: 30px;
        padding: 0 12px;
        gap: 9px;
    }

    &.isMedium {
        height: 36px;
        padding: 0 15px;
        gap: 9px;
    }

    &.isLarge {
        height: 48px;
        padding: 0 21px;
        gap: 12px;
    }

    &:disabled {
        opacity: .5;
        pointer-events: none;
    }

    > * {
        position: relative;
        z-index: 1;
    }

    & + &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -2px;
        height: 15px;
        width: 2px;
        background: var(--gray-100);
        border-radius: 1px;
        transition: opacity 300ms var(--swift-out);
        translate: 0 -50%;
    }

    &.isActive::before,
    &.isActive + &::before {
        opacity: 0;
    }
}
