@use '$flux/css/mixin';

.segmentedControl {
    position: relative;
    align-items: center;
    gap: 1px;
    background: var(--gray-50);
    border: 1px solid var(--surface-stroke);
    border-radius: var(--radius);
}

.segmentedControlFill {
    composes: segmentedControl;

    display: flex;
}

.segmentedControlInline {
    composes: segmentedControl;

    display: inline-flex;
    width: min-content;
}

.segmentedControlHighlight {
    position: absolute;
    top: 0;
    bottom: 0;
    background: var(--surface);
    border-radius: calc(var(--radius) - 2px);
    box-shadow: var(--shadow-sm);
    outline: 1px solid var(--surface-stroke);
    pointer-events: none;
    transition: 300ms var(--swift-out);
    transition-property: left, width;
}

.segmentedControlItem {
    display: flex;
    height: 36px;
    padding-left: 12px;
    padding-right: 12px;
    align-items: center;
    flex: 1 1 0;
    gap: 9px;
    justify-content: center;
    background: none;
    border: 0;
    border-radius: var(--radius);
    color: var(--foreground);
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    transition: 300ms var(--swift-out);
    transition-property: background, color;

    @include mixin.hover {
        background: var(--gray-100);
    }

    &.isActive {
        background: none;
        color: var(--foreground-prominent);
        cursor: default;
    }

    > * {
        position: relative;
    }
}

.segmentedControlSeparator {
    height: 15px;
    width: 1px;
    flex-shrink: 0;
    background: var(--surface-stroke);
    transition: opacity 300ms var(--swift-out);

    &.isActive {
        opacity: 0;
    }
}
