@use '$flux/css/mixin';

.snackbar {
    composes: basePane from './base/Pane.module.scss';

    display: flex;
    box-shadow: var(--shadow-xl), var(--shadow-2xl);
    overflow: hidden;

    .action {
        margin: 12px 12px 12px 0;
    }

    .progressBar {
        margin-top: 9px;

        &:not(:last-child) {
            margin-bottom: 6px;
        }
    }

    .progressBarTrack {
        height: 6px;
    }
}

.snackbarContent {
    display: flex;
    padding: 15px 18px;
    align-items: flex-start;
    flex-grow: 1;
    gap: 15px;

    > .icon,
    > .spinner {
        flex-shrink: 0;
        translate: 0 3px;
    }
}

.snackbarBody {
    display: flex;
    align-self: stretch;
    flex-flow: column;
    flex-grow: 1;
}

.snackbarMessage {
    color: var(--foreground);
}

.snackbarSubMessage {
    color: var(--foreground-secondary);
    font-size: 14px;
}

.snackbarTitle {
    font-weight: 500;
}

.snackbarAction {
    display: flex;
    padding: 6px 15px;
    min-width: 84px;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background: var(--gray-0);
    border: 0;
    border-radius: 0;
    color: var(--foreground);
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    outline: 0;
    text-align: center;
    transition: 180ms var(--swift-out);
    transition-property: background, color;

    &:hover {
        background: var(--gray-1);
        color: var(--foreground-prominent);
    }

    &:active {
        background: var(--gray-2);
    }
}

.snackbarActions {
    display: flex;
    padding-left: 1px;
    max-width: max-content;
    flex-flow: column;
    flex-grow: 1;
    gap: 1px;
    background: var(--gray-2);
}

.snackbarGray {
    composes: snackbar;

    .snackbarAction:first-child,
    .snackbarContent > .icon,
    .snackbarTitle {
        color: var(--foreground-prominent);
    }
}

.snackbarPrimary {
    composes: snackbar;

    .snackbarAction:first-child,
    .snackbarContent > .icon,
    .snackbarTitle {
        color: var(--primary-7);
    }

    .spinnerEffect,
    .spinnerValue {
        stroke: var(--primary-8);
    }
}

.snackbarDanger {
    composes: snackbar;

    .snackbarAction:first-child,
    .snackbarContent > .icon,
    .snackbarTitle {
        color: var(--danger-7);
    }

    .spinnerEffect,
    .spinnerValue {
        stroke: var(--danger-8);
    }
}

.snackbarInfo {
    composes: snackbar;

    .snackbarAction:first-child,
    .snackbarContent > .icon,
    .snackbarTitle {
        color: var(--info-7);
    }

    .spinnerEffect,
    .spinnerValue {
        stroke: var(--info-8);
    }
}

.snackbarSuccess {
    composes: snackbar;

    .snackbarAction:first-child,
    .snackbarContent > .icon,
    .snackbarTitle {
        color: var(--success-7);
    }

    .spinnerEffect,
    .spinnerValue {
        stroke: var(--success-8);
    }
}

.snackbarWarning {
    composes: snackbar;

    .snackbarAction:first-child,
    .snackbarContent > .icon,
    .snackbarTitle {
        color: var(--warning-7);
    }

    .spinnerEffect,
    .spinnerValue {
        stroke: var(--warning-8);
    }
}

.snackbars {
    position: fixed;
    display: flex;
    flex-flow: column;
    gap: 15px;
    z-index: 100000;

    @include mixin.breakpoint-down(sm) {
        left: 15px;
        right: 15px;
        bottom: 15px;
    }

    @include mixin.breakpoint-up(md) {
        width: 570px;
        top: 30px;
        left: calc(50dvw - 285px);
    }
}

.snackbarsEnterActive,
.snackbarsLeaveActive,
.snackbarsMove {
    transition: 420ms var(--swift-out);
}

.snackbarsLeaveActive {
    position: absolute;
    width: 100%;
}

.snackbarsEnterFrom {
    opacity: 0;
    transform: translate3d(0, -15px, 0);
}

.snackbarsLeaveTo {
    opacity: 0;
    scale: .95;
    translate: 0 -15px;
    z-index: -1;
}
