@use '~flux/components/css/mixin';

.spinner {
    --track: var(--surface-stroke-muted);
    --value: var(--primary-solid);

    display: inline-block;
    height: 1em;
    width: 1em;
    flex: 0 0 1em;
    animation: spinner 5s linear infinite;
    font-size: 20px;
}

@include mixin.color-variants(spinner) using ($color) {
    @include mixin.intent($color);

    --value: var(--intent-solid);
}

.spinnerTrack {
    stroke: var(--track);
}

.spinnerEffect,
.spinnerValue {
    stroke: var(--value);
    transform-origin: center;
    animation: spinner 1.2s var(--swift-out) infinite;
}

.spinnerEffect {
    opacity: .25;
    animation-delay: -1.05s;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1turn);
    }
}
