.statistic {
    padding: 21px;
    flex-basis: 0;
    flex-grow: 1;
    gap: 21px;

    &.isGray .statisticIcon {
        background: var(--gray-2);
        color: var(--gray-7);
    }

    &.isPrimary .statisticIcon {
        background: var(--primary-2);
        color: var(--primary-7);
    }

    &.isDanger .statisticIcon {
        background: var(--danger-2);
        color: var(--danger-7);
    }

    &.isInfo .statisticIcon {
        background: var(--info-2);
        color: var(--info-7);
    }

    &.isSuccess .statisticIcon {
        background: var(--success-2);
        color: var(--success-7);
    }

    &.isWarning .statisticIcon {
        background: var(--warning-2);
        color: var(--warning-7);
    }
}

.statisticChange {
    display: flex;
    align-items: center;
    align-self: flex-end;
    gap: 6px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;

    &.isGray {
        color: var(--foreground-prominent);
    }

    &.isPrimary {
        color: var(--primary-7);
    }

    &.isDanger {
        color: var(--danger-7);
    }

    &.isInfo {
        color: var(--info-7);
    }

    &.isSuccess {
        color: var(--success-7);
    }

    &.isWarning {
        color: var(--warning-7);
    }
}

.statisticData {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    gap: 9px;
    line-height: 1;

    :is(span) {
        color: var(--foreground-secondary);
    }

    :is(strong) {
        color: var(--foreground-prominent);
        font-size: 24px;
        font-weight: 700;
    }
}

.statisticIcon {
    display: flex;
    height: 48px;
    width: 48px;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius);
}

.statisticImage {
    height: 48px;
    width: 48px;
    border-radius: var(--radius);
}

.statisticHorizontal {
    composes: statistic;

    display: flex;
}

.statisticVertical {
    composes: statistic;

    display: flex;
    align-items: center;
    flex-flow: column;
    text-align: center;

    .statisticChange {
        align-self: center;
    }

    .statisticData {
        align-items: center;
    }
}
