.statistic {
    padding: 21px;
    flex-basis: 0;
    flex-grow: 1;
    gap: 21px;
}

.statisticChange {
    display: flex;
    align-items: center;
    align-self: flex-end;
    gap: 6px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;

    &.isGray {
        color: var(--foreground-prominent);
    }

    &.isPrimary {
        color: var(--primary-600);
    }

    &.isDanger {
        color: var(--danger-600);
    }

    &.isInfo {
        color: var(--info-600);
    }

    &.isSuccess {
        color: var(--success-600);
    }

    &.isWarning {
        color: var(--warning-600);
    }
}

.statisticData {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    gap: 9px;
    line-height: 1;

    :is(span) {
        color: var(--foreground-secondary);
    }

    :is(strong) {
        color: var(--foreground-prominent);
        font-size: 24px;
        font-weight: 700;
    }
}

.statisticImage {
    height: 48px;
    width: 48px;
    border-radius: var(--radius);
}

.statisticHorizontal {
    composes: statistic;

    display: flex;
}

.statisticVertical {
    composes: statistic;

    display: flex;
    align-items: center;
    flex-flow: column;
    text-align: center;

    .statisticChange {
        align-self: center;
    }

    .statisticData {
        align-items: center;
    }
}
