@use '~flux/components/css/mixin';

.text {
    color: var(--foreground);
}

.textSizeSmall {
    @include mixin.text(xsmall);
}

.textSizeMedium {
    @include mixin.text(default);
}

.textSizeLarge {
    @include mixin.text(xlarge);
}

.textSizeDisplay {
    font-size: 27px;
    line-height: 33px;
}

.textColorMuted {
    color: var(--foreground-secondary);
}

.textColorProminent {
    color: var(--foreground-prominent);
}

@include mixin.color-variants(textColor) using ($color) {
    @include mixin.intent($color);

    color: var(--intent-text);
}

.textAlignStart {
    text-align: start;
}

.textAlignCenter {
    text-align: center;
}

.textAlignEnd {
    text-align: end;
}

.textTabular {
    font-variant-numeric: tabular-nums;
}

.textTruncate {
    @include mixin.truncate;

    display: block;
}
