.timeline {
    display: flex;
    flex-flow: column;
    gap: 15px;
}

.timelineItem {
    position: relative;
    display: grid;
    gap: 21px;
    grid-template-columns: 42px minmax(0, 1fr);
}

.timelineItemIcon,
.timelineItemPhoto {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 99px;
    outline: 6px solid var(--gray-25);
}

.timelineItemIcon {
    margin: 3px;
    height: 36px;
    width: 36px;
}

.timelineItemPhoto {
    height: 42px;
    width: 42px;
}

.timelineItemPhotoIcon {
    position: absolute;
    display: flex;
    right: -9px;
    bottom: -9px;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    background: var(--gray-25);
    border-radius: 99px;
}

.timelineItemPhotoImage {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    object-fit: cover;
    object-position: center;
}

.timelineItemBody {
    position: relative;
    align-self: center;
    padding-top: 9px;
    padding-bottom: 9px;
}

.timelineItemHeader {
    display: flex;
    margin-bottom: 9px;
    flex-flow: column;

    :is(strong) {
        color: var(--foreground-prominent);
    }

    :is(span) {
        color: var(--foreground-secondary);
        font-size: 14px;
    }
}

.timelineItemLine {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 100%;
    width: 2px;
    background: var(--gray-100);
}

.timeline .timelineItem:last-of-type .timelineItemLine {
    display: none;
}

.timelineItemGray {
    composes: timelineItem;

    .timelineItemIcon,
    .timelineItemPhotoIcon {
        color: var(--foreground-prominent);
    }

    .timelineItemIcon {
        background: var(--gray-100);
    }
}

.timelineItemPrimary {
    composes: timelineItem;

    .timelineItemIcon,
    .timelineItemPhotoIcon {
        color: var(--primary-600);
    }

    .timelineItemIcon {
        background: var(--primary-100);
    }
}

.timelineItemDanger {
    composes: timelineItem;

    .timelineItemIcon,
    .timelineItemPhotoIcon {
        color: var(--danger-600);
    }

    .timelineItemIcon {
        background: var(--danger-100);
    }
}

.timelineItemInfo {
    composes: timelineItem;

    .timelineItemIcon,
    .timelineItemPhotoIcon {
        color: var(--info-600);
    }

    .timelineItemIcon {
        background: var(--info-100);
    }
}

.timelineItemSuccess {
    composes: timelineItem;

    .timelineItemIcon,
    .timelineItemPhotoIcon {
        color: var(--success-600);
    }

    .timelineItemIcon {
        background: var(--success-100);
    }
}

.timelineItemWarning {
    composes: timelineItem;

    .timelineItemIcon,
    .timelineItemPhotoIcon {
        color: var(--warning-600);
    }

    .timelineItemIcon {
        background: var(--warning-100);
    }
}
