@use '$flux/css/mixin';

.treeView {
    display: flex;
    flex-flow: column;
    outline: 0;
}

.treeNode {
    composes: treeNode from './primitive/TreeNode.module.scss';

    cursor: pointer;

    @include mixin.hover {
        background: var(--surface-hover);
    }

    &.isHighlighted {
        background: var(--surface-hover);
    }
}
