@property --shine-degrees {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.fillVisual {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.animatedColors {
    composes: fillVisual;

    filter: blur(60px) saturate(180%);
}

.dotPattern {
    composes: fillVisual;

    fill: rgb(var(--gray-4));
    pointer-events: none;
}

.flickeringGrid {
    composes: fillVisual;

    pointer-events: none;
}

.gridPattern {
    composes: fillVisual;

    fill: rgb(var(--gray-2));
    stroke: rgb(var(--gray-4));
    pointer-events: none;
}

.borderShine {
    position: relative;

    --shine-radius: var(--radius);
    --shine-mask: linear-gradient(#fff #{0} #{0}) content-box, linear-gradient(#fff #{0} #{0});

    &::before {
        position: absolute;
        display: block;
        inset: calc(var(--shine-offset) * -1px);
        padding: calc(var(--shine-width) * 1px);
        content: '';
        background: conic-gradient(from var(--shine-degrees), #{var(--shine-colors)});
        border-radius: var(--shine-radius);
        pointer-events: none;
        animation: borderShinePosition calc(var(--shine-duration) * 1s) linear infinite;
        mask: var(--shine-mask);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }
}

@keyframes borderShinePosition {
    from {
        --shine-degrees: 0deg;
    }
    to {
        --shine-degrees: 360deg;
    }
}
