@layer flux-base {
    html {
        font-size: 15px;
    }

    body {
        background: var(--background);
        font-family: apple-sf-pro-text, sans-serif;
    }

    body,
    dialog {
        color: var(--foreground);
    }

    [inert] *::-webkit-scrollbar {
        display: none;
    }
}
