dedupe-peer-dependents = false
strict-peer-dependencies = false

@fancee:registry=https://npm.fanc.ee/
//npm.fanc.ee/:_authToken=${FANCEE_NPM_AUTH_TOKEN}

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_NPM_AUTH_TOKEN}
