@mixin ce-dark-mode {
    --gray-0: oklch(16% 0.01 270);
    --gray-1: oklch(19% 0.012 270);
    --gray-2: oklch(23% 0.015 270);
    --gray-3: oklch(27% 0.017 270);
    --gray-4: oklch(35% 0.02 270);
    --gray-5: oklch(43% 0.03 270);
    --gray-6: oklch(51% 0.035 270);
    --gray-7: oklch(63% 0.04 270);
    --gray-8: oklch(75% 0.04 270);
    --gray-9: oklch(83% 0.028 270);
    --gray-10: oklch(91% 0.028 270);
    --gray-11: oklch(99% 0.028 270);

    --primary-0: oklch(26.8% 0.012 264);
    --primary-1: oklch(29.3% 0.025 264);
    --primary-2: oklch(32.4% 0.038 264);
    --primary-3: oklch(36.4% 0.052 264);
    --primary-4: oklch(40.6% 0.068 264);
    --primary-5: oklch(45.3% 0.085 264);
    --primary-6: oklch(49.8% 0.102 264);
    --primary-7: oklch(54.9% 0.118 264);
    --primary-8: oklch(60.9% 0.134 264);
    --primary-9: oklch(68.5% 0.148 264);
    --primary-10: oklch(73.9% 0.158 264);
    --primary-11: oklch(79.5% 0.165 264);

    --danger-0: oklch(26.1% 0.007 346);
    --danger-1: oklch(26.4% 0.034 4);
    --danger-2: oklch(28.5% 0.049 2);
    --danger-3: oklch(31.5% 0.065 3);
    --danger-4: oklch(34.8% 0.079 4);
    --danger-5: oklch(38.4% 0.092 4);
    --danger-6: oklch(42% 0.106 3);
    --danger-7: oklch(45.8% 0.12 2);
    --danger-8: oklch(49.9% 0.137 0);
    --danger-9: oklch(51.9% 0.146 354);
    --danger-10: oklch(55.1% 0.167 352);
    --danger-11: oklch(58.8% 0.187 350);

    --info-0: oklch(26.8% 0.012 264);
    --info-1: oklch(27.3% 0.023 251);
    --info-2: oklch(30.9% 0.034 254);
    --info-3: oklch(35.3% 0.044 252);
    --info-4: oklch(40% 0.058 250);
    --info-5: oklch(44.4% 0.073 252);
    --info-6: oklch(49% 0.084 252);
    --info-7: oklch(53.4% 0.096 254);
    --info-8: oklch(57.6% 0.107 255);
    --info-9: oklch(62.1% 0.116 256);
    --info-10: oklch(66.3% 0.125 258);
    --info-11: oklch(71% 0.132 257);

    --success-0: oklch(25.8% 0.017 156);
    --success-1: oklch(28.4% 0.02 157);
    --success-2: oklch(31% 0.024 160);
    --success-3: oklch(36.2% 0.04 156);
    --success-4: oklch(41.3% 0.054 154);
    --success-5: oklch(46.6% 0.069 153);
    --success-6: oklch(51.8% 0.082 152);
    --success-7: oklch(57.1% 0.091 152);
    --success-8: oklch(62.6% 0.101 150);
    --success-9: oklch(68.7% 0.104 147);
    --success-10: oklch(73.9% 0.092 145);
    --success-11: oklch(78.9% 0.079 145);

    --warning-0: oklch(27% 0.022 88);
    --warning-1: oklch(29.3% 0.029 84);
    --warning-2: oklch(32.4% 0.036 82);
    --warning-3: oklch(36.4% 0.046 83);
    --warning-4: oklch(40.6% 0.054 90);
    --warning-5: oklch(45.3% 0.064 92);
    --warning-6: oklch(49.8% 0.072 87);
    --warning-7: oklch(54.9% 0.083 81);
    --warning-8: oklch(60.9% 0.096 77);
    --warning-9: oklch(68.5% 0.112 77);
    --warning-10: oklch(73.9% 0.122 77);
    --warning-11: oklch(79.5% 0.132 78);
}
