@use 'sass:list';

$-sizes: 2xsmall, xsmall, small, default, large, xlarge;

@mixin text($size, $line-height: null) {
    @if not list.index($-sizes, $size) {
        @error 'Text size "#{$size}" not found in "#{$-sizes}".';
    }

    font-size: var(--font-size-#{$size});

    @if $line-height == null {
        line-height: var(--line-height-#{$size});
    } @else {
        line-height: $line-height;
    }
}

@mixin truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
