@use 'sass:color';
@use '../mixin' as flux;

@function to-rgb($hex) {
    @return color.red($hex) color.green($hex) color.blue($hex);
}

:root {
    --primary-0: #{to-rgb(#ffffff)};
    --primary-1: #{to-rgb(#f5f8ff)};
    --primary-2: #{to-rgb(#eff4ff)};
    --primary-3: #{to-rgb(#d1e0ff)};
    --primary-4: #{to-rgb(#b2ccff)};
    --primary-5: #{to-rgb(#84adff)};
    --primary-6: #{to-rgb(#528bff)};
    --primary-7: #{to-rgb(#2970ff)};
    --primary-8: #{to-rgb(#155eef)};
    --primary-9: #{to-rgb(#004eeb)};
    --primary-10: #{to-rgb(#0040c1)};
    --primary-11: #{to-rgb(#00359e)};

    --danger-0: #{to-rgb(#ffffff)};
    --danger-1: #{to-rgb(#fffbfa)};
    --danger-2: #{to-rgb(#fef3f2)};
    --danger-3: #{to-rgb(#fee4e2)};
    --danger-4: #{to-rgb(#fecdca)};
    --danger-5: #{to-rgb(#fda29b)};
    --danger-6: #{to-rgb(#f97066)};
    --danger-7: #{to-rgb(#f04438)};
    --danger-8: #{to-rgb(#d92d20)};
    --danger-9: #{to-rgb(#b42318)};
    --danger-10: #{to-rgb(#912018)};
    --danger-11: #{to-rgb(#7a271a)};

    --info-0: #{to-rgb(#ffffff)};
    --info-1: #{to-rgb(#f5f8ff)};
    --info-2: #{to-rgb(#eff4ff)};
    --info-3: #{to-rgb(#d1e0ff)};
    --info-4: #{to-rgb(#b2ccff)};
    --info-5: #{to-rgb(#84adff)};
    --info-6: #{to-rgb(#528bff)};
    --info-7: #{to-rgb(#2970ff)};
    --info-8: #{to-rgb(#155eef)};
    --info-9: #{to-rgb(#004eeb)};
    --info-10: #{to-rgb(#0040c1)};
    --info-11: #{to-rgb(#00359e)};

    --success-0: #{to-rgb(#ffffff)};
    --success-1: #{to-rgb(#f6fef9)};
    --success-2: #{to-rgb(#ecfdf3)};
    --success-3: #{to-rgb(#d1fadf)};
    --success-4: #{to-rgb(#a6f4c5)};
    --success-5: #{to-rgb(#6ce9a6)};
    --success-6: #{to-rgb(#32d583)};
    --success-7: #{to-rgb(#12b76a)};
    --success-8: #{to-rgb(#039855)};
    --success-9: #{to-rgb(#027a48)};
    --success-10: #{to-rgb(#05603a)};
    --success-11: #{to-rgb(#054f31)};

    --warning-0: #{to-rgb(#ffffff)};
    --warning-1: #{to-rgb(#fffcf5)};
    --warning-2: #{to-rgb(#fffaeb)};
    --warning-3: #{to-rgb(#fef0c7)};
    --warning-4: #{to-rgb(#fedf89)};
    --warning-5: #{to-rgb(#fec84b)};
    --warning-6: #{to-rgb(#fdb022)};
    --warning-7: #{to-rgb(#f79009)};
    --warning-8: #{to-rgb(#dc6803)};
    --warning-9: #{to-rgb(#b54708)};
    --warning-10: #{to-rgb(#93370d)};
    --warning-11: #{to-rgb(#7a2e0e)};

    --gray-0: #{to-rgb(#ffffff)};
    --gray-1: #{to-rgb(#fcfcfd)};
    --gray-2: #{to-rgb(#f8fafc)};
    --gray-3: #{to-rgb(#eef2f6)};
    --gray-4: #{to-rgb(#e3e8ef)};
    --gray-5: #{to-rgb(#cdd5df)};
    --gray-6: #{to-rgb(#9aa4b2)};
    --gray-7: #{to-rgb(#697586)};
    --gray-8: #{to-rgb(#4b5565)};
    --gray-9: #{to-rgb(#364152)};
    --gray-10: #{to-rgb(#202939)};
    --gray-11: #{to-rgb(#121926)};
}

@include flux.dark-mode {
    --gray-0: #{to-rgb(#1e1f22)};
    --gray-1: #{to-rgb(#242527)};
    --gray-2: #{to-rgb(#292c2e)};
    --gray-3: #{to-rgb(#313435)};
    --gray-4: #{to-rgb(#3a3f40)};
    --gray-5: #{to-rgb(#454b4f)};
    --gray-6: #{to-rgb(#515960)};
    --gray-7: #{to-rgb(#5c666b)};
    --gray-8: #{to-rgb(#687175)};
    --gray-9: #{to-rgb(#747d80)};
    --gray-10: #{to-rgb(#80898b)};
    --gray-11: #{to-rgb(#8c9597)};
}
