@use 'sass:color';

@function to-rgb($hex) {
    @return color.red($hex) color.green($hex) color.blue($hex);
}

:root {
    --gray-0: 255 255 255;
    --gray-1: 252 252 253;
    --gray-2: 248 250 252;
    --gray-3: 238 242 246;
    --gray-4: 227 232 239;
    --gray-5: 205 213 223;
    --gray-6: 154 164 178;
    --gray-7: 105 117 134;
    --gray-8: 75 85 101;
    --gray-9: 54 65 82;
    --gray-10: 32 41 57;
    --gray-11: 18 25 38;

    --primary-0: 255 255 255;
    --primary-1: 245 248 255;
    --primary-2: 239 244 255;
    --primary-3: 209 224 255;
    --primary-4: 178 204 255;
    --primary-5: 132 173 255;
    --primary-6: 82 139 255;
    --primary-7: 41 112 255;
    --primary-8: 21 94 239;
    --primary-9: 0 78 235;
    --primary-10: 0 64 193;
    --primary-11: 0 53 158;

    --danger-0: 255 255 255;
    --danger-1: 255 251 250;
    --danger-2: 254 243 242;
    --danger-3: 254 228 226;
    --danger-4: 254 205 202;
    --danger-5: 253 162 155;
    --danger-6: 249 112 102;
    --danger-7: 240 68 56;
    --danger-8: 217 45 32;
    --danger-9: 180 35 24;
    --danger-10: 145 32 24;
    --danger-11: 122 39 26;

    --info-0: 255 255 255;
    --info-1: 245 248 255;
    --info-2: 239 244 255;
    --info-3: 209 224 255;
    --info-4: 178 204 255;
    --info-5: 132 173 255;
    --info-6: 82 139 255;
    --info-7: 41 112 255;
    --info-8: 21 94 239;
    --info-9: 0 78 235;
    --info-10: 0 64 193;
    --info-11: 0 53 158;

    --success-0: 255 255 255;
    --success-1: 246 254 249;
    --success-2: 236 253 243;
    --success-3: 209 250 223;
    --success-4: 166 244 197;
    --success-5: 108 233 166;
    --success-6: 50 213 131;
    --success-7: 18 183 106;
    --success-8: 3 152 85;
    --success-9: 2 122 72;
    --success-10: 5 96 58;
    --success-11: 5 79 49;

    --warning-0: 255 255 255;
    --warning-1: 255 252 245;
    --warning-2: 255 250 235;
    --warning-3: 254 240 199;
    --warning-4: 254 223 137;
    --warning-5: 254 200 75;
    --warning-6: 253 176 34;
    --warning-7: 247 144 9;
    --warning-8: 220 104 3;
    --warning-9: 181 71 8;
    --warning-10: 147 55 13;
    --warning-11: 122 46 14;
}

[dark],
body.dark-layout {
    --gray-0: #{to-rgb(#202939)};
    --gray-1: #{to-rgb(#2b3444)};
    --gray-2: #{to-rgb(#363f4f)};
    --gray-3: #{to-rgb(#414b5a)};
    --gray-4: #{to-rgb(#4c5665)};
    --gray-5: #{to-rgb(#576170)};
    --gray-6: #{to-rgb(#636c7b)};
    --gray-7: #{to-rgb(#6e7786)};
    --gray-8: #{to-rgb(#798291)};
    --gray-9: #{to-rgb(#848e9c)};
    --gray-10: #{to-rgb(#8f99a7)};
    --gray-11: #{to-rgb(#9aa4b2)};
}
