@use '../mixin' as flux;

:root {
    --shadow: 0 3px 9px rgb(0 0 0 / .025);
    --shadow-pixel: 0 1px 1px rgb(0 0 0 / .03);
    --shadow-large: 0 6px 15px rgb(0 0 0 / .05);
    --shadow-small: 0 1px 3px rgb(0 0 0 / .1);
}

@include flux.dark-mode {
    --shadow: 0 3px 9px rgb(0 0 0 / .1);
    --shadow-pixel: 0 1px 1px rgb(0 0 0 / .12);
    --shadow-large: 0 6px 15px rgb(0 0 0 / .35);
    --shadow-small: 0 1px 3px rgb(0 0 0 / .3);
}
