:root {
    --radius: 9px;

    --background: rgb(var(--gray-2));
    --foreground: rgb(var(--gray-7));
    --foreground-prominent: rgb(var(--gray-9));
    --foreground-secondary: rgb(var(--gray-6));
    --foreground-muted: rgb(var(--gray-6));
}
