@use '$flux/css/mixin';

.slider {
    position: relative;
    display: flex;
    margin: 6px;
    flex-flow: column;
    gap: 9px;
    touch-action: pan-y;

    &.isDisabled {
        cursor: not-allowed;
    }

    &.isDragging {
        cursor: grabbing;
    }
}

.sliderThumb {
    position: absolute;
    top: 50%;
    height: 24px;
    width: 24px;
    padding: 0;
    background: rgb(var(--gray-0));
    background-clip: padding-box;
    border: 1px solid rgb(var(--gray-11) / .05);
    border-radius: 99px;
    box-shadow: var(--shadow-sm);
    cursor: grab;
    outline: 0;
    translate: -50% -50%;

    @include mixin.focus-ring-transition(2px);

    @media (hover: hover) {
        &:hover {
            background-color: rgb(var(--gray-2));
        }
    }

    &.isDisabled {
        background-color: rgb(var(--gray-1));
        box-shadow: none;
        pointer-events: none;
    }

    &.isDragging {
        box-shadow: var(--shadow-md);
        cursor: grabbing;
    }
}

[dark] .sliderThumb {
    background-color: rgb(var(--gray-1));
    border-color: rgb(var(--gray-11) / .4);
}

.sliderTrack {
    position: relative;
    height: 12px;
    background: rgb(var(--gray-2));
    border-radius: calc(var(--radius) / 2);
    box-shadow: inset 0 0 0 1px rgb(var(--gray-3));
}

.sliderTrackValue {
    position: absolute;
    display: block;
    top: 0;
    height: inherit;
    background: rgb(var(--primary-7));
    border-radius: inherit;
}

.slider.isDisabled .sliderTrackValue {
    background: rgb(var(--gray-4));
}

.tick {
    position: absolute;
    left: calc(var(--position) * 100% - 1px);
    bottom: 0;
    height: 9px;
    width: 2px;
    background: rgb(var(--gray-4));
    border-radius: 99px;
    color: var(--foreground-prominent);
    font-size: 10px;
    font-weight: 600;
    pointer-events: none;
}

.tickLarge {
    composes: tick;

    :is(span) {
        position: relative;
        display: inline-block;
        translate: -50% -100%;
    }
}

.tickSmall {
    composes: tick;

    height: 6px;
    opacity: .5;
}

.ticks {
    position: relative;
    display: block;
    height: 21px;
}
