@use '../../../../components/src/css/mixin';

:root {
    --dashboard-background: rgb(var(--gray-0));
    --dashboard-duration: 360ms;
    --dashboard-navigation-background: rgb(var(--primary-11));
    --dashboard-navigation-foreground: rgb(var(--primary-0));
}

[dark] {
    --dashboard-navigation-background: color-mix(in srgb, rgb(var(--gray-0)), black 50%);
}

body:has(.root > .dashboard) {
    background: var(--dashboard-background);
}

.dashboard {
    min-height: 100dvh;
}

.dashboardMount {
    display: flex;
    align-items: stretch;
    flex-flow: column;
}

.isResizing, .isResizing * {
    animation: none !important;
    transition: none !important;
}

@include mixin.breakpoint-up(lg) {
    .dashboard {
        display: grid;
        grid-template-columns: auto minmax(0, 1fr) auto;
        grid-template-rows: minmax(0, 1fr);
        transition: padding-left var(--dashboard-duration) var(--swift-out);

        &:has(> .dashboardNavigation) {
            padding-left: 300px;
        }

        &:has(> .dashboardNavigationCollapsed) {
            padding-left: 84px;
        }

        .dashboardMount {
            grid-column: 2;
        }

        .dashboardMenu {
            grid-column: 1;
        }

        .dashboardSide {
            grid-column: 3;
        }
    }
}

@include mixin.breakpoint-down(md) {
    .dashboard {
        display: flex;
        padding-top: 84px;
        flex-flow: column;
    }
}
