@use '~flux/components/css/mixin';

.flowPill {
    display: flex;
    width: max-content;
    padding: 6px 15px 6px 6px;
    align-items: center;
    gap: 6px;
    background: var(--surface);
    background-clip: padding-box;
    border: 1px solid var(--surface-stroke-out);
    border-radius: var(--radius-full);
    box-shadow: var(--shadow-sm);

    :is(span) {
        @include mixin.text(small);

        color: var(--foreground-prominent);
        font-weight: 500;
        white-space: nowrap;
    }
}
