@use '~flux/components/css/mixin';

.flowPill {
    @include mixin.surface(var(--radius-full));

    display: flex;
    width: max-content;
    padding: 6px 15px 6px 6px;
    align-items: center;
    gap: 6px;
    box-shadow: var(--shadow-sm);

    > span {
        @include mixin.text(small);

        color: var(--foreground-prominent);
        font-weight: 500;
        white-space: nowrap;
    }
}
