:root {
    --vp-font-family-base: inter-variable;
    --vp-font-family-mono: jetbrains-mono;

    --vp-c-gray-1: var(--gray-4);
    --vp-c-gray-2: var(--gray-3);
    --vp-c-gray-3: var(--gray-2);

    --vp-c-bg: var(--gray-0);
    --vp-c-bg-alt: color-mix(in oklch, var(--gray-1), var(--vp-c-bg) 10%);
    --vp-c-bg-elv: var(--gray-0);
    --vp-c-bg-soft: color-mix(in oklch, var(--gray-1), var(--vp-c-bg) 10%);

    --vp-c-border: var(--gray-2);
    --vp-c-divider: var(--gray-2);
    --vp-c-gutter: var(--gray-2);

    --vp-c-brand-1: var(--primary-7);
    --vp-c-brand-2: var(--primary-6);
    --vp-c-brand-3: var(--primary-8);

    --vp-c-text-1: var(--foreground-prominent);
    --vp-c-text-2: var(--foreground);
    --vp-c-text-3: var(--foreground-secondary);
}

button {
    font-size: inherit;
    font-weight: inherit;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, li, blockquote, img, [data-typography-aware]) + :where(h4, h5, h6, p, ul, ol, li, blockquote, img) {
    margin-top: unset;
}

.vp-code-group .blocks > div:first-child:not(:has(.vp-code)) {
    padding: 18px;
}

.vp-adaptive-theme p {
    margin: unset;
}

.column-example {
    display: flex;
    height: 78px;
    align-items: center;
    justify-content: center;
    background: var(--gray-2);
    border: 1px dashed var(--gray-4);
    border-radius: var(--radius);
}

.column-example:before {
    content: "Column";
    color: var(--gray-6);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* Everything below is Shogun's bad CSS overrides to make previews not look so weird */
.language-vue > p > :is(h1, h2, h3, h4, h5, h6) {
    margin-top: unset;
    border-top: unset;
}

.language-vue > p > p + p {
    margin-top: 10px;
}

.language-vue:has(> p > blockquote) {
    padding-left: 45px !important;
}
