@use '$flux/css/mixin';

@value inlineFlexRow, flexNoGrow from './base/Flex.module.scss';

.chip {
    composes: inlineFlexRow;
    composes: flexNoGrow;

    height: 36px;
    padding: 0 12px;
    align-items: center;
    gap: 9px;
    background: rgb(var(--gray-1));
    border: 1px solid rgb(var(--gray-3));
    border-radius: 99px;
    color: var(--foreground);
    transition: 180ms var(--swift-out);
    transition-property: background, border, color, mixin.focus-ring-transition-properties();

    &.isSelectable {
        cursor: pointer;

        @include mixin.focus-ring(2px);

        @media (hover: hover) {
            &:hover {
                background: rgb(var(--gray-2));
            }
        }
    }

    &.isSelected {
        background: rgb(var(--primary-2));
        border-color: rgb(var(--primary-4));
        color: rgb(var(--primary-7));

        @media (hover: hover) {
            &:hover {
                background: rgb(var(--primary-3));
            }
        }
    }

    :is(span) {
        font-size: 14px;
        font-weight: 500;
        white-space: nowrap;
    }
}

[dark] .chip.isSelected {
    background: rgb(var(--primary-11) / .5);
    border-color: rgb(var(--primary-11));
    color: rgb(var(--primary-5));

    @media (hover: hover) {
        &:hover {
            background: rgb(var(--primary-10) / .5);
        }
    }
}
