.dropZone {
    position: relative;
    border-radius: var(--radius);

    :local(.placeholder) {
        transition: background 300ms var(--swift-out);
    }

    &:has(.dropZoneHint.isDraggingOver) :local(.placeholder) {
        background: rgb(var(--primary-2));
    }
}

.dropZoneHint {
    position: absolute;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms var(--swift-out);

    &::before {
        --shine-colors: rgb(var(--primary-7)), transparent, rgb(var(--primary-7));
    }

    &.isDragging {
        opacity: 1;
    }

    &.isDraggingOver::before {
        --shine-colors: rgb(var(--primary-7)), rgb(var(--primary-8)), rgb(var(--primary-7));
    }
}
