.flyout {
    display: contents;
}

.flyoutDialog {
    top: var(--pane-y);
    left: var(--pane-x);
    margin: 0;
    padding: 12px;
    background: unset;
    border: 0;
    font-size: 1rem;

    &::backdrop {
        background: unset;
    }
}

.flyoutPane {
    max-height: calc(100dvh - 120px);
    box-shadow: var(--shadow-md);
    overflow: auto;
    transform: translate3d(var(--pane-mx), var(--pane-my), 0);

    &.isAutoWidth {
        width: var(--opener-width);
    }

    &.isClosing {
        animation: close 210ms var(--swift-out) both;
    }

    &.isOpening {
        animation: open 210ms var(--deceleration-curve) both;
    }
}

@keyframes close {
    to {
        opacity: 0;
    }
}

@keyframes open {
    from {
        opacity: 0;
        transform: translate3d(0, 0, 0)
    }
}

@keyframes mobileClose {
    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0)
    }
}

@keyframes mobileOpen {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0)
    }
}
