@value basePane from './base/Pane.module.scss';

@layer flux-base {
    .icon {
        height: 1em;
        width: 1em;
        flex-shrink: 0;
        font-size: 20px;
        line-height: 1;
    }

    .fontAwesomeIcon {
        composes: icon;

        display: inline-block;
    }

    .materialSymbolIcon {
        composes: icon;

        display: inline-flex;
        color: currentColor;
        font-family: 'Material Symbols Outlined', sans-serif;
        font-weight: 400;
        font-style: normal;
        user-select: none;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
    }

    .iconBoxed {
        composes: basePane;

        display: flex;
        height: 1em;
        width: 1em;
        align-items: center;
        flex-shrink: 0;
        justify-content: center;
        font-size: 42px;

        .icon {
            font-size: .33em;
        }

        .materialSymbolIcon {
            font-size: .5em;
        }
    }

    .iconBoxedDefault {
        composes: iconBoxed;

        box-shadow: var(--shadow-sm);
    }

    .iconBoxedColored {
        composes: iconBoxed;

        border: 0;
    }

    .iconBoxedGray {
        composes: iconBoxedColored;

        background: rgb(var(--gray-2));
        color: var(--foreground);
    }

    .iconBoxedPrimary {
        composes: iconBoxedColored;

        background: rgb(var(--primary-2));
        color: rgb(var(--primary-10));
    }

    .iconBoxedDanger {
        composes: iconBoxedColored;

        background: rgb(var(--danger-2));
        color: rgb(var(--danger-10));
    }

    .iconBoxedInfo {
        composes: iconBoxedColored;

        background: rgb(var(--info-2));
        color: rgb(var(--info-10));
    }

    .iconBoxedSuccess {
        composes: iconBoxedColored;

        background: rgb(var(--success-2));
        color: rgb(var(--success-10));
    }

    .iconBoxedWarning {
        composes: iconBoxedColored;

        background: rgb(var(--warning-2));
        color: rgb(var(--warning-10));
    }
}
