@use '$flux/css/mixin';

@value flex, flexColumn, flexRow, flexGrow, flexNoShrink from './base/Flex.module.scss';
@value basePane, basePaneElement from './base/Pane.module.scss';

.notice {
    composes: flexRow;
    composes: basePaneElement;

    padding: 12px 15px;
    gap: 12px;
    border-radius: var(--radius);

    .button {
        margin-top: -6px;
        margin-right: -9px;
        margin-bottom: -6px;
        height: 36px;
    }

    a {
        color: currentColor;
    }

    ul {
        margin-top: 3px;
        padding-left: 1em;
        list-style-type: disc;

        li + li {
            margin-top: 9px;
        }
    }
}

.noticeBody {
    composes: flexColumn;
    composes: flexGrow;

    text-wrap: pretty;

    :global(p) {
        line-height: 1.6;
    }

    &:last-child {
        flex-grow: 0;
    }
}

.noticeClose {
    composes: flex;

    height: 20px;
    width: 20px;
    margin: 2px;
    padding: 0;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 12px;
    color: currentColor;
    cursor: pointer;
    transition: opacity 150ms var(--swift-out);

    @include mixin.hover {
        opacity: .75;
    }

    > .icon {
        font-size: 14px;
    }
}

.noticePrefix {
    composes: flexNoShrink;

    margin-top: 2px;
    font-size: 20px;
}

.noticeMessage,
.noticeTitle {
    margin: 0;
}

.noticeTitle {
    font-weight: 600;
}

.notice.isCenter {
    justify-content: center;
    text-align: center;
}

.notice.isFluid {
    border-style: solid;
    border-width: 1px;
    border-left: 0;
    border-right: 0;
    border-radius: 0;

    &:first-child {
        border-top: 0;
    }

    &:last-child {
        border-bottom: 0;
    }
}

.noticeGray {
    composes: notice;

    background: rgb(var(--gray-2));
    border-color: rgb(var(--gray-3));
    color: var(--foreground);

    .noticeClose {
        background: rgb(var(--gray-3));
    }

    .noticePrefix,
    .noticeTitle {
        color: var(--foreground-prominent);
    }
}

.noticePrimary {
    composes: notice;

    background: rgb(var(--primary-2));
    border-color: rgb(var(--primary-3));
    color: rgb(var(--primary-11));

    .noticeClose {
        background: rgb(var(--primary-3));
    }

    .noticePrefix,
    .noticeTitle {
        color: rgb(var(--primary-7));
    }

    :local(.button) {
        border-color: rgb(var(--primary-4));
    }

    :local(.spinnerTrack) {
        stroke: rgb(var(--primary-3));
    }

    :local(.spinnerEffect),
    :local(.spinnerValue) {
        stroke: rgb(var(--primary-7));
    }
}

.noticeDanger {
    composes: notice;

    background: rgb(var(--danger-2));
    border-color: rgb(var(--danger-3));
    color: rgb(var(--danger-11));

    .noticeClose {
        background: rgb(var(--danger-3));
    }

    .noticePrefix,
    .noticeTitle {
        color: rgb(var(--danger-7));
    }

    :local(.button) {
        border-color: rgb(var(--danger-4));
    }

    :local(.spinnerTrack) {
        stroke: rgb(var(--danger-3));
    }

    :local(.spinnerEffect),
    :local(.spinnerValue) {
        stroke: rgb(var(--danger-7));
    }
}

.noticeInfo {
    composes: notice;

    background: rgb(var(--info-2));
    border-color: rgb(var(--info-3));
    color: rgb(var(--info-11));

    .noticeClose {
        background: rgb(var(--info-3));
    }

    .noticePrefix,
    .noticeTitle {
        color: rgb(var(--info-7));
    }

    :local(.button) {
        border-color: rgb(var(--info-4));
    }

    :local(.spinnerTrack) {
        stroke: rgb(var(--info-3));
    }

    :local(.spinnerEffect),
    :local(.spinnerValue) {
        stroke: rgb(var(--info-7));
    }
}

.noticeSuccess {
    composes: notice;

    background: rgb(var(--success-2));
    border-color: rgb(var(--success-3));
    color: rgb(var(--success-11));

    .noticeClose {
        background: rgb(var(--success-3));
    }

    .noticePrefix,
    .noticeTitle {
        color: rgb(var(--success-7));
    }

    :local(.button) {
        border-color: rgb(var(--success-4));
    }

    :local(.spinnerTrack) {
        stroke: rgb(var(--success-3));
    }

    :local(.spinnerEffect),
    :local(.spinnerValue) {
        stroke: rgb(var(--success-7));
    }
}

.noticeWarning {
    composes: notice;

    background: rgb(var(--warning-2));
    border-color: rgb(var(--warning-3));
    color: rgb(var(--warning-11));

    .noticeClose {
        background: rgb(var(--warning-3));
    }

    .noticePrefix,
    .noticeTitle {
        color: rgb(var(--warning-7));
    }

    :local(.button) {
        border-color: rgb(var(--warning-4));
    }

    :local(.spinnerTrack) {
        stroke: rgb(var(--warning-3));
    }

    :local(.spinnerEffect),
    :local(.spinnerValue) {
        stroke: rgb(var(--warning-7));
    }
}

:local(.basePane) > .notice {
    padding-left: 21px;
    padding-right: 21px;
}
