@value flexColumn, flexRow from '@/css/component/base/Flex.module.scss';

.stack {
    gap: var(--gap, 0);

    &.isCentered {
        place-content: center;
        place-items: center;
    }

    &.isFill {
        width: 100%;
    }

    &.isWrapping {
        flex-wrap: wrap;
    }
}

.stackHorizontal {
    composes: flexRow;
    composes: stack;
}

.stackVertical {
    composes: flexColumn;
    composes: stack;
}
