@layer flux-reset {
    *, *::before, *::after {
        box-sizing: border-box;
    }

    * {
        margin: 0;
    }

    // Rich prose re-adds list styling inside FluxProse.
    ul, ol {
        padding: 0;
        list-style: none;
    }

    body {
        -webkit-font-smoothing: antialiased;
        -webkit-tap-highlight-color: rgb(0 0 0 / 0);
        -moz-tab-size: 4;
        tab-size: 4;
    }

    img, picture, video, canvas, svg {
        display: block;
        max-width: 100%;
    }

    input, button, textarea, select {
        font: inherit;
    }

    p, h1, h2, h3, h4, h5, h6 {
        overflow-wrap: break-word;
    }

    p {
        text-wrap: pretty;
    }

    h1, h2, h3, h4, h5, h6 {
        text-wrap: balance;
    }

    button, select {
        text-transform: none;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    #app {
        isolation: isolate;
    }
}
