@use '~flux/components/css/mixin';

@layer flux-base {
    h1, h2, h3, h4, h5, h6 {
        font-weight: 600;
        line-height: 1.6;
        text-wrap: balance;
    }

    h1 {
        color: var(--foreground-prominent);
        font-size: 27px;
    }

    h2 {
        color: var(--foreground-prominent);
        font-size: 21px;
    }

    h3 {
        color: var(--foreground);
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    h5 {
        font-size: 15px;
    }

    h6 {
        font-size: 14px;
    }

    a:not([class]), a[class=""] {
        align-self: start;
        color: var(--primary-600);
        text-decoration: underline;
        text-decoration-color: currentColor;
        text-decoration-skip: auto;
        text-decoration-thickness: 1px;
        text-underline-offset: 2px;

        @include mixin.hover {
            text-decoration: none;
        }
    }

    p {
        line-height: 1.6;
    }

    small {
        font-size: 14px;
    }

    code, kbd, samp, pre {
        font-family: var(--font-monospace), monospace;
    }
}
