@use 'sass:color';

@mixin animation {
    --acceleration-curve: cubic-bezier(0.4, 0, 1, 1);
    --deceleration-curve: cubic-bezier(0, 0, 0.2, 1);
    --standard-curve: cubic-bezier(0.4, 0, 0.2, 1);
    --swift-out: cubic-bezier(0.55, 0, 0.1, 1);
}

@mixin color-light {
    --gray-25: #ffffff;
    --gray-50: #f7f8fc;
    --gray-100: #eceef4;
    --gray-200: #dee1ea;
    --gray-300: #c6cad5;
    --gray-400: #9da4b8;
    --gray-500: #848ca2;
    --gray-600: #606881;
    --gray-700: #3f475e;
    --gray-800: #2d3241;
    --gray-900: #1a1f2d;
    --gray-950: #090c19;

    --primary-25: #fcfcfc;
    --primary-50: #ebf2ff;
    --primary-100: #d7e5ff;
    --primary-200: #c4d8ff;
    --primary-300: #9dbdff;
    --primary-400: #77a2fc;
    --primary-500: #5285f8;
    --primary-600: #2258e5;
    --primary-700: #0935b1;
    --primary-800: #011e8c;
    --primary-900: #000f60;
    --primary-950: #000337;

    --danger-25: #fefbfa;
    --danger-50: #fff1f2;
    --danger-100: #ffe4e6;
    --danger-200: #ffccd3;
    --danger-300: #ffa1ac;
    --danger-400: #ff637e;
    --danger-500: #ff2054;
    --danger-600: #ec003e;
    --danger-700: #c70036;
    --danger-800: #a50035;
    --danger-900: #8b0836;
    --danger-950: #4d0218;

    --info-25: #f9fcff;
    --info-50: #eff6ff;
    --info-100: #dbeafe;
    --info-200: #bedbff;
    --info-300: #8dc5ff;
    --info-400: #52a2ff;
    --info-500: #297fff;
    --info-600: #165dfc;
    --info-700: #1048e6;
    --info-800: #163cb8;
    --info-900: #1b398e;
    --info-950: #162456;

    --success-25: #fafdfa;
    --success-50: #f0fdf4;
    --success-100: #dcfce7;
    --success-200: #b9f8cf;
    --success-300: #7af1a9;
    --success-400: #00df73;
    --success-500: #00c951;
    --success-600: #08a63d;
    --success-700: #028236;
    --success-800: #03662f;
    --success-900: #0d542a;
    --success-950: #032e15;

    --warning-25: #fdfcf8;
    --warning-50: #fffbeb;
    --warning-100: #fef3c6;
    --warning-200: #fee685;
    --warning-300: #ffd22f;
    --warning-400: #ffb902;
    --warning-500: #ff9717;
    --warning-600: #dd7500;
    --warning-700: #b55500;
    --warning-800: #934200;
    --warning-900: #793600;
    --warning-950: #451b00;
}

@mixin color-dark {
    --gray-25: #0c0d12;
    --gray-50: #121419;
    --gray-100: #1a1d24;
    --gray-200: #23262f;
    --gray-300: #363a45;
    --gray-400: #494f61;
    --gray-500: #5e657b;
    --gray-600: #7f88a2;
    --gray-700: #a4adc8;
    --gray-800: #c0c7da;
    --gray-900: #dae1f5;
    --gray-950: #f4fbff;

    --primary-25: #23262c;
    --primary-50: #262c39;
    --primary-100: #2a3448;
    --primary-200: #303e5a;
    --primary-300: #36486e;
    --primary-400: #3e5585;
    --primary-500: #44619d;
    --primary-600: #4d6fb6;
    --primary-700: #5980d3;
    --primary-800: #6a96f5;
    --primary-900: #77a7ff;
    --primary-950: #85b8ff;

    --danger-25: #272325;
    --danger-50: #37272b;
    --danger-100: #452c30;
    --danger-200: #563237;
    --danger-300: #69393d;
    --danger-400: #7f4145;
    --danger-500: #94484c;
    --danger-600: #ab5155;
    --danger-700: #c65d64;
    --danger-800: #e66f7a;
    --danger-900: #fd7c8c;
    --danger-950: #ff8ba0;

    --info-25: #23262c;
    --info-50: #252c39;
    --info-100: #283447;
    --info-200: #2c3f59;
    --info-300: #2e4b6d;
    --info-400: #315884;
    --info-500: #33659b;
    --info-600: #3874b4;
    --info-700: #4285d1;
    --info-800: #539cf3;
    --info-900: #5dadff;
    --info-950: #6bbfff;

    --success-25: #1d2620;
    --success-50: #223027;
    --success-100: #243a2b;
    --success-200: #264632;
    --success-300: #285438;
    --success-400: #2b643f;
    --success-500: #2d7345;
    --success-600: #32844c;
    --success-700: #3b9956;
    --success-800: #4cb265;
    --success-900: #59c56f;
    --success-950: #6ad87b;

    --warning-25: #2b261a;
    --warning-50: #322b1b;
    --warning-100: #3c331e;
    --warning-200: #493c21;
    --warning-300: #574725;
    --warning-400: #68532a;
    --warning-500: #785e30;
    --warning-600: #8c6b35;
    --warning-700: #a47a3b;
    --warning-800: #c28f42;
    --warning-900: #d89e4a;
    --warning-950: #efae52;
}

@mixin defaults {
    --font-monospace: jetbrains-mono, monospace;
    --font-sans: inter-variable, sans-serif;
    --font-serif: serif;
    --font-size: 15px;
    --radius: 12px;
    --radius-double: 24px;
    --radius-half: 6px;

    --background: var(--gray-50);
    --foreground: var(--gray-700);
    --foreground-prominent: var(--gray-900);
    --foreground-secondary: var(--gray-400);
    --surface: var(--gray-25);
    --surface-loader: rgb(from var(--gray-25) r g b / .75);
    --surface-stroke: var(--gray-200);
    --surface-stroke-hover: var(--gray-300);
    --surface-stroke-out: rgb(from var(--gray-900) r g b / .075);
    --surface-stroke-out-hover: rgb(from var(--gray-950) r g b / .075);
    --surface-hover: var(--gray-50);
    --surface-active: var(--gray-100);
    --surface-disabled: var(--gray-100);

    --overlay: oklch(from var(--gray-950) l c h / .3);
    --overlay-secondary: oklch(from var(--gray-950) l c h / .15);
}

@mixin defaults-dark {
    --overlay: rgb(0 0 0 / .6);
    --overlay-secondary: rgb(0 0 0 / .4);
}

@mixin shadow-light {
    --shadow-px: 0 1px 1px oklch(from var(--gray-800) l c h / 0.02);
    --shadow-xs: 0 1px 2px 0 oklch(from var(--gray-800) l c h / 0.02);
    --shadow-sm: 0 1px 3px oklch(from var(--gray-800) l c h / 0.05), 0 1px 2px -1px oklch(from var(--gray-800) l c h / 0.05);
    --shadow-md: 0 4px 6px -1px oklch(from var(--gray-800) l c h / 0.05), 0 2px 4px -2px oklch(from var(--gray-800) l c h / 0.05);
    --shadow-lg: 0 10px 15px -3px oklch(from var(--gray-800) l c h / 0.05), 0 4px 6px -4px oklch(from var(--gray-800) l c h / 0.05);
    --shadow-xl: 0 20px 25px -5px oklch(from var(--gray-800) l c h / 0.05), 0 8px 10px -6px oklch(from var(--gray-800) l c h / 0.05);
    --shadow-2xl: 0 25px 50px -12px oklch(from var(--gray-800) l c h / 0.12);
}

@mixin shadow-dark {
    --shadow-px: 0 1px 1px oklch(0 0 0 / 0.1);
    --shadow-xs: 0 1px 2px 0 oklch(0 0 0 / 0.1);
    --shadow-sm: 0 1px 3px oklch(0 0 0 / 0.15), 0 1px 2px -1px oklch(0 0 0 / 0.15);
    --shadow-md: 0 4px 6px -1px oklch(0 0 0 / 0.15), 0 2px 4px -2px oklch(0 0 0 / 0.15);
    --shadow-lg: 0 10px 15px -3px oklch(0 0 0 / 0.15), 0 4px 6px -4px oklch(0 0 0 / 0.15);
    --shadow-xl: 0 20px 25px -5px oklch(0 0 0 / 0.15), 0 8px 10px -6px oklch(0 0 0 / 0.15);
    --shadow-2xl: 0 25px 50px -12px oklch(0 0 0 / 0.25);
}
