@use "sass:color";

:root {
    --acceleration-curve: cubic-bezier(0.4, 0, 1, 1);
    --deceleration-curve: cubic-bezier(0, 0, 0.2, 1);
    --swift-out: cubic-bezier(0.55, 0, 0.1, 1);
}

body {
    --radius: 9px;
    --shadow: 0 2px 9px rgb(0 0 0 / .025);
    --shadow-small: 0 1px 3px rgb(0 0 0 / .1);

    --gray-0: #ffffff;
    --gray-1: #fcfcfd;
    --gray-2: #f8fafc;
    --gray-3: #eef2f6;
    --gray-4: #e3e8ef;
    --gray-5: #cdd5df;
    --gray-6: #9aa4b2;
    --gray-7: #697586;
    --gray-8: #4b5565;
    --gray-9: #364152;
    --gray-10: #202939;
    --gray-11: #121926;

    --primary-0: #ffffff;
    --primary-1: #fcfcfd;
    --primary-2: #f3f6fb;
    --primary-3: #e5e9f4;
    --primary-4: #c4cbe4;
    --primary-5: #a3add5;
    --primary-6: #8190c5;
    --primary-7: #6071b5;
    --primary-8: #53619b;
    --primary-9: #455180;
    --primary-10: #384066;
    --primary-11: #2a2f4b;

    --danger: #d92d20;
    --background: var(--gray-2);
    --foreground: var(--gray-7);
    --foreground-prominent: var(--gray-9);
    --foreground-secondary: var(--gray-6);
    --foreground-muted: var(--gray-6);

    --highlight-background: var(--primary-2);
    --highlight-foreground: var(--primary-7);

    --primary-button-background: var(--primary-7);
    --primary-button-background-hover: var(--primary-8);
    --primary-button-background-active: var(--primary-9);
    --primary-button-foreground: var(--gray-0);
    --primary-button-icon: var(--primary-button-foreground);
    --primary-button-stroke: transparent;

    --secondary-button-background: var(--gray-0);
    --secondary-button-background-hover: var(--gray-2);
    --secondary-button-background-active: var(--gray-3);
    --secondary-button-foreground: var(--foreground);
    --secondary-button-icon: var(--secondary-button-foreground);
    --secondary-button-stroke: var(--gray-4);

    --destructive-button-background: var(--gray-0);
    --destructive-button-background-hover: var(--gray-2);
    --destructive-button-background-active: var(--gray-3);
    --destructive-button-foreground: var(--foreground);
    --destructive-button-icon: var(--danger);
    --destructive-button-stroke: var(--gray-4);

    --surface-background: var(--gray-0);
    --surface-overlay: rgb(255 255 255 / .75);
    --surface-footer: var(--gray-1);
    --surface-foreground: var(--foreground);
    --surface-stroke: var(--gray-4);

    --segmented-control-background: var(--gray-3);
    --segmented-control-foreground: var(--gray-7);
    --segmented-control-foreground-active: var(--gray-9);
    --segmented-control-highlight: var(--gray-0);
    --segmented-control-hover: var(--gray-4);
    --segmented-control-separator: var(--gray-5);

    --spinner-track: var(--gray-4);
    --spinner-value: var(--primary-7);

    --toggle-background: var(--gray-3);
    --toggle-background-on: var(--primary-7);
    --toggle-thumb: var(--gray-0);
    --toggle-thumb-stroke: var(--gray-5);

    font-size: 15px;
    line-height: 1.6;
}

body.dark-layout {
    --shadow: 0 3px 15px rgb(0 0 0 / .125);
    --shadow-small: 0 1px 3px rgb(0 0 0 / .25);

    --gray-0: #283046;
    --gray-1: #2c344a;
    --gray-2: #30384e;
    --gray-3: #343c52;
    --gray-4: #384056;
    --gray-5: #3c445a;
    --gray-6: #40495d;
    --gray-7: #444d61;
    --gray-8: #485165;
    --gray-9: #4c5569;
    --gray-10: #50596d;
    --gray-11: #545d71;

    --danger: #f97066;
    --background: #161d31;
    --foreground: #e3e8ef;
    --foreground-prominent: #ffffff;
    --foreground-secondary: #778db9;
    --foreground-muted: rgb(255 255 255 / .5);

    --primary-button-foreground: var(--primary-3);

    --segmented-control-background: var(--gray-2);
    --segmented-control-foreground: var(--foreground-muted);
    --segmented-control-foreground-active: var(--foreground);
    --segmented-control-highlight: var(--gray-6);
    --segmented-control-hover: var(--gray-3);
    --segmented-control-separator: var(--gray-7);
}

html body {
    background: var(--background);
    color: var(--foreground);
    line-height: 1.6;
}

html body.dark-layout {
    background: var(--background);
}

/**
 * Below are styles that apply to the google places autocomplete input,
 * these styles are mostly important.
 */
body .pac-container {
    padding-top: 3px;
    background: var(--surface-background);
    background-clip: padding-box;
    border: 1px solid var(--surface-stroke);
    border-radius: var(--radius);
    box-shadow: var(--shadow-small);
    font: inherit;
    translate: 0 9px;

    &::after {
        height: 39px;
        margin-right: 12px;
        padding: 0;
    }

    .pac-item {
        display: flex;
        height: 42px;
        padding: 0 21px;
        align-items: center;
        gap: 12px;
        border: 0;
        font-size: 14px;
        line-height: 1.4em;

        .pac-icon {
            margin: 0;
            flex: 0 0 auto;
        }

        .pac-item-query {
            padding: 0;
            flex: 0 0 auto;
            font-size: inherit;
        }

        &:hover {
            background: var(--gray-2);
        }
    }

    .pac-item + .pac-item {
        border-top: 1px dashed var(--surface-stroke);
    }

    .pac-item:last-of-type {
        border-bottom: 1px dashed var(--surface-stroke);
    }
}
