.surface {
    background: rgb(var(--gray-0));
    background-clip: padding-box;
    border: 1px solid rgb(var(--gray-11) / .05);
    border-radius: var(--radius);
    color: var(--foreground);
    text-decoration: unset;
}

[dark] .surface {
    border-color: rgb(var(--gray-11) / .2);
}
