.coordinatePicker {
    position: relative;
    aspect-ratio: 5 / 3;
    background: var(--gray-1);
    border: 1px solid oklch(from var(--gray-11) l c h / .05);
    border-radius: calc(var(--radius) / 2);
    z-index: 0;
}

.coordinatePickerThumb {
    composes: sliderThumb from './Slider.module.scss';

    z-index: 1;

    &.isDisabled {
        counter-reset: t;
    }

    &.isDragging {
        counter-reset: t;
    }
}
