.coordinatePicker {
    position: relative;
    aspect-ratio: 5 / 3;
    background: var(--gray-50);
    border: 1px solid var(--surface-stroke-out);
    border-radius: var(--radius-half);
    z-index: 0;
}

.coordinatePickerThumb {
    composes: sliderThumb from './Slider.module.scss';

    z-index: 1;

    &.isDisabled {
        counter-reset: t;
    }

    &.isDragging {
        counter-reset: t;
    }
}
