@use '$flux/css/mixin';

.treeNode {
    display: flex;
    width: 100%;
    min-height: 36px;
    padding: 0 8px;
    align-items: center;
    border-radius: var(--radius-half);
    color: var(--foreground);
    font-size: 14px;
    gap: 8px;
    outline: 0;
    transition: 150ms var(--swift-out);
    transition-property: background, color;
    user-select: none;
}

@include mixin.tree-node-classes();
