@use '$flux/css/mixin';

:root {
    --application-duration: 360ms;
    --application-menu-surface: var(--gray-100);
    --application-menu-surface-stroke: var(--gray-200);
    --application-menu-width: 300px;
    --application-menu-width-collapsed: 69px;
    --application-side-width: 300px;
    --application-top-height: 66px;
}

[dark] {
    --application-menu-surface: color-mix(in srgb, var(--gray-25), black 25%);
    --application-menu-surface-stroke: var(--gray-100);
}

.application {
    position: relative;
    display: flex;
    transition: padding var(--application-duration) var(--swift-out);
    transition-property: padding-left, padding-right;

    &:has(> .applicationSide) {
        padding-right: var(--application-side-width);
    }
}

.applicationBody {
    position: relative;
    display: flex;
    min-width: 0;
    min-height: 100dvh;
    flex-flow: column;
    flex-grow: 1;

    &:has(> .applicationContentFull > :is(.calendar, .table)) {
        max-height: 100dvh;
    }
}

.applicationMenuBackdrop {
    position: fixed;
    display: none;
    inset: 0;
    width: 100dvw;
    height: 100dvh;
    padding: 0;
    border: 0;
    background: rgb(from var(--gray-200) r g b / .5);
    backdrop-filter: blur(3px) saturate(180%);
    transition: var(--application-duration) var(--swift-out);
    transition-property: background, backdrop-filter, opacity;
    z-index: 1900;
}

@include mixin.breakpoint-up(lg) {
    .application:has(> .applicationMenu) {
        padding-left: var(--application-menu-width);
    }

    .application:has(> .applicationMenu[data-collapsed][data-collapsible]) {
        padding-left: var(--application-menu-width-collapsed);
    }
}

@include mixin.breakpoint-down(md) {
    .application {
        &:has(> .applicationSide) {
            padding-right: 0;
        }
    }

    .applicationMenuBackdrop {
        display: block;
    }

    .application:has(> .applicationMenu[data-collapsed]) .applicationMenuBackdrop {
        pointer-events: none;
        opacity: 0;
    }

    html[data-application-menu-open],
    html[data-application-menu-open] body {
        overflow: hidden;
        overscroll-behavior: contain;
    }
}
