@use '$flux/css/mixin';

.applicationMenu {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 100dvh;
    width: var(--application-menu-width);
    flex-flow: column;
    transition: var(--application-duration) var(--swift-out);
    transition-property: translate, width;
    background: var(--application-menu-surface);
    border-right: 1px solid var(--application-menu-surface-stroke);
    overflow: hidden;
    z-index: 500;
}

.applicationMenuContent,
.applicationMenuFooter,
.applicationMenuHeader {
    padding: 12px;
    gap: 12px;
}

.applicationMenuFooter,
.applicationMenuHeader {
    position: sticky;
    background: var(--application-menu-surface);
    z-index: 1;

    &::before {
        position: absolute;
        left: 0;
        right: 0;
        height: 18px;
        width: 100%;
        content: '';
        pointer-events: none;
        transition: opacity 200ms var(--swift-out);
    }
}

.applicationMenu[data-at-start] .applicationMenuHeader::before,
.applicationMenu[data-at-end] .applicationMenuFooter::before {
    opacity: 0;
}

.applicationMenu[data-at-start] .applicationMenuHeader::before {
    opacity: 0;
}

.applicationMenu[data-at-end] .applicationMenuFooter::before {
    opacity: 0;
}

.applicationMenuContent {
    min-height: 0;
    flex: 1 1 auto;
    overflow: auto;
}

.applicationMenuFooter {
    bottom: 0;
    padding-bottom: max(12px, env(safe-area-inset-bottom));

    &::before {
        bottom: 100%;
        background: linear-gradient(to top, var(--application-menu-surface), transparent);
    }
}

.applicationMenuHeader {
    top: 0;
    padding-top: max(12px, env(safe-area-inset-top));

    &::before {
        top: 100%;
        background: linear-gradient(to bottom, var(--application-menu-surface), transparent);
    }
}

.applicationMenuHeader + .applicationMenuContent {
    padding-top: 0;
}

.applicationMenuContent:has(+ .applicationMenuFooter) {
    padding-bottom: 0;
}

.applicationMenu :local(.divider) {
    margin: 3px 12px;
}

.applicationMenu :local(.dividerContent)::before,
.applicationMenu :local(.dividerContent)::after,
.applicationMenu :local(.dividerLine) {
    background: var(--application-menu-surface-stroke);
}

.applicationMenu :local(.menuSubHeader) {
    --surface: var(--application-menu-surface);
}

.applicationMenu :local(.menuItem) {
    position: relative;

    @include mixin.hover {
        background: var(--gray-200);
    }

    &:active {
        background: var(--gray-300);
    }

    &::before {
        position: absolute;
        display: block;
        content: '';
        top: 50%;
        right: 0;
        height: 1em;
        width: 3px;
        background: var(--foreground-secondary);
        border-radius: var(--radius);
        opacity: 0;
        transition: 300ms var(--swift-out);
        transition-property: height, opacity;
        translate: 8px -50%;
    }
}

.applicationMenu :local(.menuItemIcon) {
    color: var(--foreground-secondary);
}

.applicationMenu :local(.menuItemLabel) {
    transition: var(--application-duration) var(--swift-out);
    transition-property: filter, opacity, translate;
    white-space: nowrap;
}

.applicationMenu :local(.menuItemActive) {
    background: var(--gray-200);
    color: var(--foreground-prominent);

    &::before {
        height: 1.6em;
        opacity: 1;
    }
}

.applicationMenu :local(.menuItemActive) :local(.menuItemIcon) {
    color: var(--foreground);
}

.applicationMenu :local(.menuItemActive) :local(.menuItemLabel) {
    font-weight: 500;
}

.applicationMenuAccount {
    position: relative;

    pointer-events: none;
}

.applicationMenuAccountSwitcher {
    composes: applicationMenuAccount;

    pointer-events: auto;
}

.applicationMenuAccount :local(.menuItemLabel) {
    font-weight: 600;
}

.applicationMenuAccount :local(.avatar) {
    margin: -5px;
    font-size: 30px;
}

.applicationMenuContext {
    display: flex;
    margin-left: -12px;
    margin-right: -12px;
    padding: 15px;
    flex-flow: row nowrap;
    gap: 15px;
    border: 1px solid var(--application-menu-surface-stroke);
    border-left: 0;
    border-right: 0;
}

.applicationMenuContextContent {
    display: flex;
    align-self: center;
    flex-flow: column;

    :global(strong) {
        color: var(--foreground-prominent);
    }

    :global(span) {
        color: var(--foreground-secondary);
        font-size: 14px;
    }
}

.applicationMenuPromo {
    display: flex;
    padding: 12px;
    flex-flow: row;
    gap: 12px;
    background: var(--gray-25);
    border: 1px solid var(--application-menu-surface-stroke);
    border-radius: var(--radius);
}

.applicationMenuPromo > :local(.icon) {
    margin: 2px;
    color: var(--gray-600);
    font-size: 16px;
}

.applicationMenuPromoContent {
    display: flex;
    flex-flow: column;
    gap: 6px;
    font-size: 14px;
}

.applicationMenuPromoContent :global(a) {
    color: var(--gray-700);
}

.applicationMenuToggle:local(.menuItem) {
    height: min-content;
    align-self: center;
    color: var(--foreground);
    flex-grow: 0;
    flex-shrink: 0;
}

.applicationMenuToggleIcon {
    height: 1em;
    width: 1em;
    flex-shrink: 0;
    font-size: 18px;
    line-height: 1;
    overflow: visible;

    :global(path) {
        fill: currentColor;
    }
}

@include mixin.breakpoint-up(lg) {
    .applicationMenu[data-collapsed][data-collapsible] {
        width: var(--application-menu-width-collapsed);

        :local(.menuItemLabel) {
            filter: blur(6px);
            opacity: 0;
            translate: -12px 0;
        }

        .applicationMenuPromo,
        .applicationMenuContext {
            opacity: 0;
            pointer-events: none;
        }
    }
}

@include mixin.breakpoint-down(md) {
    .applicationMenu {
        width: min(300px, calc(100dvw - 42px));
        z-index: 2000;
    }

    .applicationMenu[data-collapsed] {
        translate: -100% 0;
    }
}
