@use '$flux/css/mixin';

.applicationContent {
    position: relative;
    display: flex;
    container: applicationContent / inline-size;
    margin-left: auto;
    margin-right: auto;
    padding-top: 21px;
    padding-bottom: 21px;
    flex-flow: column;
    flex-grow: 1;
    gap: 21px;
}

.applicationContentDefault {
    composes: applicationContent;

    width: min(1620px, 100% - 42px);
}

.applicationContentFull {
    composes: applicationContent;

    padding-top: 0;
    padding-bottom: 0;
    width: calc(100% - 42px);
}

.applicationContentMedium {
    composes: applicationContent;

    width: min(1280px, 100% - 42px);
}

.applicationContentNarrow {
    composes: applicationContent;

    width: min(840px, 100% - 42px);
}

.applicationContentFull {
    &:has(> :is(:local(.calendar), :local(.table))) {
        min-height: 0;
        width: 100%;
        contain: paint;
        overflow: hidden;
    }

    > :is(:local(.calendar), :local(.table)) {
        max-height: 100%;
        flex-grow: 1;
    }

    > :local(.calendar) {
        border-left: 0;
        border-right: 0;
        border-radius: 0;

        :local(.calendarActions) {
            padding-left: 21px;
            padding-right: 21px;
        }
    }

    > :local(.table) {
        :local(.tableCell):first-child :local(.tableCellContent) {
            padding-left: 21px;
        }

        :local(.tableCell):last-child :local(.tableCellContent) {
            padding-right: 21px;
        }
    }
}

@include mixin.breakpoint-down(md) {
    .applicationContentDefault,
    .applicationContentMedium,
    .applicationContentNarrow {
        gap: 15px;
    }

    .applicationContentFull {
        width: 100%;
    }

    .applicationContentFull {
        > :is(.calendar, .table) {
            margin-left: 0;
            margin-right: 0;
            height: auto;
        }

        > .calendar .calendarActions {
            padding-left: 12px;
            padding-right: 12px;
        }

        > .table {
            .tableCell:first-child .tableCellContent {
                padding-left: 12px;
            }

            .tableCell:last-child .tableCellContent {
                padding-right: 12px;
            }
        }
    }
}
